{"openapi":"3.0.3","info":{"title":"Cursor Cloud Agents API","description":"Programmatically create and manage Cursor Cloud Agents that work\nautonomously on your repositories. v1 separates a durable agent\nfrom one or more runs: each prompt submission creates a run on the\nagent. Streaming and cancellation are scoped to the active run.\n","version":"1.0.0","contact":{"email":"background-agent-feedback@cursor.com"}},"servers":[{"url":"https://api.cursor.com","description":"Production server"}],"security":[{"basicAuth":[]},{"bearerAuth":[]}],"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic","description":"API key from Cursor Dashboard, supplied as the Basic\nAuthentication username with an empty password.\n"},"bearerAuth":{"type":"http","scheme":"bearer","description":"API key from Cursor Dashboard, supplied via\n\u0060Authorization: Bearer \u003Ckey\u003E\u0060. Equivalent to Basic Auth.\n"}},"schemas":{"ImageDimension":{"type":"object","required":["width","height"],"properties":{"width":{"type":"integer","minimum":1,"description":"Width in pixels"},"height":{"type":"integer","minimum":1,"description":"Height in pixels"}}},"Image":{"type":"object","description":"An image input. Provide exactly one of \u0060data\u0060 or \u0060url\u0060. When\n\u0060data\u0060 is provided, \u0060mimeType\u0060 is required. When \u0060url\u0060 is\nprovided, Cursor fetches the image and \u0060mimeType\u0060 must be\nomitted.\n","properties":{"data":{"type":"string","minLength":1,"description":"Base64 encoded image bytes (max 15 MB). Mutually exclusive with \u0060url\u0060.","example":"iVBORw0KGgoAAAANSUhEUgAA..."},"url":{"type":"string","format":"uri","description":"HTTP or HTTPS URL Cursor fetches. Mutually exclusive with \u0060data\u0060.","example":"https://example.com/screenshot.png"},"mimeType":{"type":"string","minLength":1,"description":"MIME type of the image bytes. Required when \u0060data\u0060 is provided; must be omitted when \u0060url\u0060 is provided. Supported types are \u0060image/png\u0060, \u0060image/jpeg\u0060, \u0060image/gif\u0060, and \u0060image/webp\u0060.","example":"image/png"},"dimension":{"$ref":"#/components/schemas/ImageDimension"}},"oneOf":[{"required":["data","mimeType"],"not":{"required":["url"]}},{"required":["url"],"not":{"anyOf":[{"required":["data"]},{"required":["mimeType"]}]}}]},"ModelRef":{"type":"object","required":["id"],"properties":{"id":{"type":"string","minLength":1,"description":"Explicit model ID returned by GET /v1/models. Omit \u0060model\u0060 from the request to use the configured default.","example":"composer-2"},"params":{"type":"array","description":"Per-model parameters such as reasoning effort or max mode. Use only parameters supported by the selected model.","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"string","minLength":1,"example":"thinking"},"value":{"type":"string","minLength":1,"example":"high"}}}}}},"RepoConfig":{"type":"object","required":["url"],"properties":{"url":{"type":"string","minLength":1,"description":"GitHub repository URL. Required on every repo entry, including when \u0060prUrl\u0060 is provided.","example":"https://github.com/your-org/your-repo"},"startingRef":{"type":"string","minLength":1,"description":"Branch name or commit SHA to use as the starting point. Ignored when \u0060prUrl\u0060 is provided.","example":"main"},"prUrl":{"type":"string","format":"uri","description":"GitHub pull request URL. When provided, the agent works on this PR\u0027s repository and branches; \u0060startingRef\u0060 is ignored. \u0060url\u0060 must still be set on the same entry.","example":"https://github.com/your-org/your-repo/pull/123"}}},"AgentEnv":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["cloud","pool","machine"],"description":"Execution environment type. \u0060cloud\u0060 uses Cursor-hosted VMs; \u0060pool\u0060 and \u0060machine\u0060 route to self-hosted workers.","example":"cloud"},"name":{"type":"string","minLength":1,"description":"Named Cursor-hosted environment, self-hosted pool, or self-hosted machine name.","example":"Release workspace"}}},"McpAuth":{"type":"object","additionalProperties":false,"required":["CLIENT_ID"],"properties":{"CLIENT_ID":{"type":"string","minLength":1,"description":"OAuth client ID for the MCP server.","example":"client-id"},"CLIENT_SECRET":{"type":"string","description":"OAuth client secret for the MCP server.","example":"client-secret"},"scopes":{"type":"array","description":"OAuth scopes to request for the MCP server.","items":{"type":"string","minLength":1},"example":["file_content:read"]}}},"StdioMcpServer":{"type":"object","additionalProperties":false,"required":["name","command"],"properties":{"name":{"type":"string","minLength":1,"description":"MCP server name exposed to the agent.","example":"github"},"type":{"type":"string","enum":["stdio"],"description":"Stdio MCP server. Defaults to \u0060stdio\u0060 when \u0060command\u0060 is provided.","example":"stdio"},"command":{"type":"string","minLength":1,"description":"Command to start inside the cloud agent VM.","example":"npx"},"args":{"type":"array","description":"Command arguments.","items":{"type":"string"},"example":["-y","@modelcontextprotocol/server-github"]},"env":{"type":"object","description":"Environment variables passed to the stdio MCP server inside the VM.","additionalProperties":{"type":"string"},"example":{"GITHUB_TOKEN":"ghp_..."}}}},"RemoteMcpServer":{"type":"object","additionalProperties":false,"required":["name","url"],"properties":{"name":{"type":"string","minLength":1,"description":"MCP server name exposed to the agent.","example":"linear"},"type":{"type":"string","enum":["http","sse"],"description":"Remote MCP transport. Defaults to \u0060http\u0060 when \u0060url\u0060 is provided.","example":"http"},"url":{"type":"string","format":"uri","description":"HTTP or HTTPS URL for the remote MCP server. Userinfo in the URL is not allowed.","example":"https://mcp.linear.app/sse"},"headers":{"type":"object","description":"Headers Cursor sends with every request to the remote MCP server.","additionalProperties":{"type":"string"},"example":{"Authorization":"Bearer lin_api_..."}},"auth":{"$ref":"#/components/schemas/McpAuth"}}},"McpServer":{"oneOf":[{"$ref":"#/components/schemas/StdioMcpServer"},{"$ref":"#/components/schemas/RemoteMcpServer"}]},"AgentSummary":{"type":"object","required":["id","status","env","url","createdAt","updatedAt"],"properties":{"id":{"type":"string","description":"Unique agent identifier.","example":"bc-00000000-0000-0000-0000-000000000001"},"name":{"type":"string","description":"Display name. Auto-derived from the prompt when not supplied at create time. Omitted when no name has been set.","example":"Add README with setup instructions"},"status":{"type":"string","enum":["ACTIVE","ARCHIVED"],"description":"Agent lifecycle state. Execution status lives on runs."},"env":{"$ref":"#/components/schemas/AgentEnv"},"url":{"type":"string","format":"uri","description":"URL to view the agent in Cursor Web.","example":"https://cursor.com/agents/bc-00000000-0000-0000-0000-000000000001"},"createdAt":{"type":"string","format":"date-time","description":"When the agent was created."},"updatedAt":{"type":"string","format":"date-time","description":"When the agent was last updated."},"latestRunId":{"type":"string","description":"ID of the most recent run on this agent, if any.","example":"run-00000000-0000-0000-0000-000000000001"}}},"Agent":{"allOf":[{"$ref":"#/components/schemas/AgentSummary"},{"type":"object","properties":{"repos":{"type":"array","description":"Repository configuration. Empty for no-repo agents.","items":{"$ref":"#/components/schemas/RepoConfig"}},"workOnCurrentBranch":{"type":"boolean","description":"When \u0060false\u0060 (the default), Cursor pushes commits to a new auto-generated branch. When \u0060true\u0060, commits land on the existing head branch.","example":false},"autoCreatePR":{"type":"boolean","description":"Whether Cursor opens a pull request when the run completes.","example":true},"skipReviewerRequest":{"type":"boolean","description":"Whether to skip requesting the user as a reviewer when Cursor opens a PR."},"customSubagents":{"type":"array","description":"Custom subagents defined at create time. Omitted when none were provided.","items":{"$ref":"#/components/schemas/CustomSubagent"}}}}]},"RunGitBranch":{"type":"object","required":["repoUrl"],"properties":{"repoUrl":{"type":"string","minLength":1,"description":"Repository URL the agent pushed to. Returned without the scheme (for example, \u0060github.com/your-org/your-repo\u0060).","example":"github.com/your-org/your-repo"},"branch":{"type":"string","minLength":1,"description":"Branch name the agent pushed.","example":"cursor/add-readme-a1b2"},"prUrl":{"type":"string","format":"uri","description":"Pull request URL, when Cursor opened a PR.","example":"https://github.com/your-org/your-repo/pull/123"}}},"RunGit":{"type":"object","description":"The agent\u0027s current pushed branches and pull requests. This is\nper-agent state \u2014 every run on the same agent returns the same\n\u0060git\u0060 snapshot rather than only that run\u0027s contributions. Use\nthe agent\u0027s \u0060latestRunId\u0060 or the SSE stream to attribute work\nto a specific run.\n","required":["branches"],"properties":{"branches":{"type":"array","description":"Branches the agent has pushed. Stacked agents return one entry per branch.","items":{"$ref":"#/components/schemas/RunGitBranch"}}}},"Run":{"type":"object","required":["id","agentId","status","createdAt","updatedAt"],"properties":{"id":{"type":"string","description":"Unique run identifier.","example":"run-00000000-0000-0000-0000-000000000001"},"agentId":{"type":"string","description":"ID of the agent this run belongs to.","example":"bc-00000000-0000-0000-0000-000000000001"},"status":{"type":"string","enum":["CREATING","RUNNING","FINISHED","ERROR","CANCELLED","EXPIRED"],"description":"Current run status."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"durationMs":{"type":"integer","minimum":0,"description":"Wall-clock duration of the run in milliseconds. Populated once the run reaches a terminal status (\u0060FINISHED\u0060, \u0060ERROR\u0060, \u0060CANCELLED\u0060, \u0060EXPIRED\u0060).","example":12357},"result":{"type":"string","minLength":1,"description":"Final assistant reply text. Populated once the run terminates.","example":"Added README.md with installation instructions."},"git":{"allOf":[{"$ref":"#/components/schemas/RunGit"}],"description":"The agent\u0027s pushed branches and PRs. Populated once the agent has pushed at least one branch. Per-agent state, not per-run."}}},"RunStreamToolCallTruncation":{"type":"object","additionalProperties":false,"properties":{"args":{"type":"boolean","description":"Present and true when the tool arguments were too large to include in the stream.","example":true},"result":{"type":"boolean","description":"Present and true when the tool result was too large to include in the stream.","example":true}}},"JsonValue":{"description":"Any JSON value.","nullable":true,"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"object","additionalProperties":true},{"type":"array","items":{}}]},"RunStreamToolCallData":{"type":"object","additionalProperties":false,"required":["callId","name","status"],"properties":{"callId":{"type":"string","minLength":1,"description":"Stable identifier for one tool invocation across updates.","example":"call-1"},"name":{"type":"string","minLength":1,"description":"Public tool name, such as \u0060read_file\u0060, \u0060run_terminal_cmd\u0060, or \u0060mcp\u0060.","example":"read_file"},"status":{"type":"string","enum":["running","completed"],"description":"Tool invocation lifecycle status.","example":"completed"},"args":{"allOf":[{"$ref":"#/components/schemas/JsonValue"}],"description":"Tool-specific JSON arguments, when available.","example":{"path":"README.md"}},"result":{"allOf":[{"$ref":"#/components/schemas/JsonValue"}],"description":"Tool-specific JSON result, when available.","example":{"success":{"content":"# Project","totalLines":1,"fileSize":9,"path":"README.md"}}},"truncated":{"$ref":"#/components/schemas/RunStreamToolCallTruncation"}}},"RunStreamToolCallEvent":{"type":"object","additionalProperties":false,"required":["event","data"],"properties":{"event":{"type":"string","enum":["tool_call"]},"id":{"type":"string","description":"Opaque SSE event id passed back via \u0060Last-Event-ID\u0060 to resume the stream. Do not parse \u2014 the format is implementation-defined.","example":"1713033006000-0"},"data":{"$ref":"#/components/schemas/RunStreamToolCallData"}}},"CustomSubagent":{"type":"object","additionalProperties":false,"required":["name","description","prompt"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"Subagent name. Must be unique within \u0060customSubagents\u0060 and cannot collide with built-ins (for example, \u0060explore\u0060, \u0060shell\u0060, \u0060debug\u0060, \u0060computerUse\u0060, \u0060cursorGuide\u0060).","example":"frontend-reviewer"},"description":{"type":"string","minLength":1,"maxLength":1000,"description":"Short summary used by the main agent to decide when to delegate."},"prompt":{"type":"string","minLength":1,"maxLength":8192,"description":"System prompt the subagent receives when invoked."},"model":{"oneOf":[{"type":"string","enum":["inherit"],"description":"Use the parent agent\u0027s model selection."},{"type":"string","minLength":1,"description":"An explicit model ID.","example":"claude-4.6-sonnet-thinking"},{"$ref":"#/components/schemas/ModelRef"}]}}},"CreateAgentRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"object","required":["text"],"properties":{"text":{"type":"string","minLength":1,"description":"Task instruction for the agent.","example":"Add a README with setup instructions"},"images":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/Image"},"description":"Image inputs. Each entry must provide either \u0060data\u0060 (with required \u0060mimeType\u0060) or \u0060url\u0060. Maximum 5 images, 15 MB each."}}},"model":{"$ref":"#/components/schemas/ModelRef"},"name":{"type":"string","minLength":1,"maxLength":100,"description":"Display name for the agent. Auto-derived from the prompt when omitted.","example":"Add README with setup instructions"},"agentId":{"type":"string","minLength":1,"pattern":"^bc-[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","description":"Optional client-supplied agent identifier in \u0060bc-\u003Cuuid\u003E\u0060 form. Re-POSTing the same \u0060agentId\u0060 returns \u0060409 agent_id_conflict\u0060 instead of creating a duplicate. Cannot be combined with \u0060envVars\u0060; omit \u0060agentId\u0060 so the server mints one when you need session secrets.","example":"bc-00000000-0000-0000-0000-000000000001"},"env":{"$ref":"#/components/schemas/AgentEnv"},"repos":{"type":"array","maxItems":20,"description":"Repository configuration. Mutually exclusive with a named cloud environment. Omit both \u0060repos\u0060 and \u0060env\u0060 (or pass \u0060repos: []\u0060) to start a no-repo agent.","items":{"$ref":"#/components/schemas/RepoConfig"}},"workOnCurrentBranch":{"type":"boolean","description":"When \u0060false\u0060 (the default), Cursor pushes commits to a new\nauto-generated branch (\u0060cursor/...\u0060) based on\n\u0060repos[0].startingRef\u0060 (or the PR base ref when \u0060prUrl\u0060\nis set). When \u0060true\u0060, Cursor pushes directly to that\nstarting ref \u2014 for a non-PR create, that\u0027s the branch you\npassed in \u0060startingRef\u0060; for a \u0060prUrl\u0060 create, that\u0027s the\nPR\u0027s head branch.\n","default":false},"autoCreatePR":{"type":"boolean","description":"Whether Cursor should open a pull request when the run completes.","default":false},"skipReviewerRequest":{"type":"boolean","description":"Whether to skip requesting the user as a reviewer when Cursor opens a PR. Only applies when \u0060autoCreatePR\u0060 is true.","default":false},"envVars":{"type":"object","maxProperties":50,"description":"Session-scoped environment variables for the cloud agent.\nValues are encrypted at rest, injected into the agent\u0027s\nshell, and deleted with the agent. Names must be non-empty,\n255 bytes or less, and cannot start with \u0060CURSOR_\u0060. Values\nmust be non-empty and 4096 bytes or less. Cannot be\ncombined with a client-supplied \u0060agentId\u0060.\n\nBeta: \u0060envVars\u0060 is rolling out. If it isn\u0027t enabled for\nyour account yet, the field is silently ignored on create\nrather than failing the request \u2014 verify the values are\npresent on a first run before relying on them in\nproduction.\n","additionalProperties":{"type":"string","minLength":1,"maxLength":4096}},"mcpServers":{"type":"array","maxItems":50,"description":"Inline MCP server definitions available to the initial run. Remote servers support \u0060headers\u0060 or OAuth \u0060auth\u0060; stdio servers run inside the cloud agent VM and can receive \u0060env\u0060. Server names must be unique.","items":{"$ref":"#/components/schemas/McpServer"}},"customSubagents":{"type":"array","maxItems":20,"description":"Custom subagents the main agent can delegate to. Names must be unique and not collide with built-ins.","items":{"$ref":"#/components/schemas/CustomSubagent"}},"mode":{"allOf":[{"$ref":"#/components/schemas/AgentMode"}],"default":"agent","description":"Initial conversation mode for the agent\u0027s first run."}}},"CreateRunRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"object","required":["text"],"properties":{"text":{"type":"string","minLength":1,"description":"Follow-up instruction text.","example":"Also add troubleshooting steps"},"images":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/Image"},"description":"Image inputs for the follow-up. Each entry must provide either \u0060data\u0060 (with required \u0060mimeType\u0060) or \u0060url\u0060. Maximum 5 images, 15 MB each."}}},"mcpServers":{"type":"array","maxItems":50,"description":"Inline MCP server definitions for this follow-up run. When provided, these definitions replace any create-time inline MCP servers for this run.","items":{"$ref":"#/components/schemas/McpServer"}},"mode":{"$ref":"#/components/schemas/AgentMode"}}},"AgentMode":{"type":"string","enum":["agent","plan"],"description":"Conversation mode. \u0060plan\u0060 explores and drafts a plan before coding; \u0060agent\u0060 implements changes directly. On follow-up runs, omit to keep the conversation\u0027s current mode; set explicitly to switch modes for that run.\n"},"CreateAgentResponse":{"type":"object","required":["agent","run"],"properties":{"agent":{"$ref":"#/components/schemas/Agent"},"run":{"$ref":"#/components/schemas/Run"}}},"CreateRunResponse":{"type":"object","required":["run"],"properties":{"run":{"$ref":"#/components/schemas/Run"}}},"ListAgentsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Agents, newest first.","items":{"$ref":"#/components/schemas/AgentSummary"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages.","example":"bc-00000000-0000-0000-0000-000000000002"}}},"ListRunsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Runs for this agent, newest first.","items":{"$ref":"#/components/schemas/Run"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages."}}},"IdResponse":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"Identifier of the affected resource."}}},"Artifact":{"type":"object","required":["path","sizeBytes","updatedAt"],"properties":{"path":{"type":"string","minLength":1,"description":"Artifact path relative to the workspace\u0027s \u0060artifacts/\u0060 directory.","example":"artifacts/screenshot.png"},"sizeBytes":{"type":"integer","minimum":0,"description":"File size in bytes.","example":12345},"updatedAt":{"type":"string","format":"date-time","description":"Last modified timestamp."}}},"ListArtifactsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Artifacts produced by the agent. Returns at most 100 artifacts.","items":{"$ref":"#/components/schemas/Artifact"}}}},"DownloadArtifactResponse":{"type":"object","required":["url","expiresAt"],"properties":{"url":{"type":"string","format":"uri","description":"Temporary 15-minute presigned S3 URL for downloading the artifact.","example":"https://cloud-agent-artifacts.s3.us-east-1.amazonaws.com/..."},"expiresAt":{"type":"string","format":"date-time","description":"When the presigned URL expires."}}},"UsageTokenUsage":{"type":"object","required":["inputTokens","outputTokens","cacheWriteTokens","cacheReadTokens","totalTokens"],"properties":{"inputTokens":{"type":"integer","minimum":0,"description":"Input tokens consumed.","example":6320},"outputTokens":{"type":"integer","minimum":0,"description":"Output tokens generated.","example":1450},"cacheWriteTokens":{"type":"integer","minimum":0,"description":"Tokens written to cache.","example":7100},"cacheReadTokens":{"type":"integer","minimum":0,"description":"Tokens read from cache.","example":21300},"totalTokens":{"type":"integer","minimum":0,"description":"Sum of the four token counts above.","example":36170}}},"RunUsage":{"type":"object","required":["id","usage"],"properties":{"id":{"type":"string","minLength":1,"description":"Run identifier.","example":"run-00000000-0000-0000-0000-000000000001"},"usageUuid":{"type":"string","minLength":1,"description":"Internal usage identifier for the run. Omitted when the run has no recorded usage yet.","example":"00000000-0000-0000-0000-000000000001"},"usage":{"allOf":[{"$ref":"#/components/schemas/UsageTokenUsage"}],"description":"Token usage for this run. Runs without recorded usage report zeros across all fields."}}},"AgentUsageResponse":{"type":"object","required":["totalUsage","runs"],"properties":{"totalUsage":{"allOf":[{"$ref":"#/components/schemas/UsageTokenUsage"}],"description":"Token usage summed across the returned runs."},"runs":{"type":"array","description":"Per-run usage, one entry per run (or a single entry when \u0060runId\u0060 is set).","items":{"$ref":"#/components/schemas/RunUsage"}}}},"ApiKeyInfo":{"type":"object","required":["apiKeyName","createdAt"],"properties":{"apiKeyName":{"type":"string","description":"Display name of the API key.","example":"Production API Key"},"createdAt":{"type":"string","format":"date-time","description":"When the API key was created."},"userId":{"type":"integer","minimum":0,"description":"Numeric Cursor user ID of the API key\u0027s owner. Omitted for service-account / team API keys, which aren\u0027t tied to a specific user.","example":42},"userEmail":{"type":"string","format":"email","description":"Email of the API key\u0027s owner. Omitted for service-account / team API keys.","example":"developer@example.com"},"userFirstName":{"type":"string","minLength":1,"description":"First name of the API key\u0027s owner, when populated.","example":"Alex"},"userLastName":{"type":"string","minLength":1,"description":"Last name of the API key\u0027s owner, when populated.","example":"Rivera"}}},"ModelParameterValueDefinition":{"type":"object","required":["value"],"properties":{"value":{"type":"string","minLength":1,"description":"Permitted value for the parameter.","example":true},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for the value.","example":"Fast"}}},"ModelParameterDefinition":{"type":"object","required":["id","values"],"properties":{"id":{"type":"string","minLength":1,"description":"Parameter identifier. Pass as \u0060model.params[].id\u0060.","example":"fast"},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for the parameter.","example":"Fast"},"values":{"type":"array","minItems":1,"description":"Permitted values for this parameter.","items":{"$ref":"#/components/schemas/ModelParameterValueDefinition"}}}},"ModelVariant":{"type":"object","required":["params","displayName"],"properties":{"params":{"type":"array","description":"Concrete parameter values that, combined with the parent model \u0060id\u0060, form a valid model selection. May be empty.","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}}}},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for this variant."},"description":{"type":"string","minLength":1},"isDefault":{"type":"boolean","description":"True for the variant Cursor selects when the user picks this model without explicit \u0060params\u0060."}}},"ModelListItem":{"type":"object","required":["id","displayName"],"properties":{"id":{"type":"string","minLength":1,"description":"Pass this value as \u0060model.id\u0060 when creating an agent.","example":"composer-2"},"displayName":{"type":"string","minLength":1,"description":"Human-readable model name.","example":"Composer 2"},"description":{"type":"string","minLength":1},"aliases":{"type":"array","description":"Alternate IDs that resolve to the same model.","items":{"type":"string","minLength":1},"example":["composer-latest","composer"]},"parameters":{"type":"array","description":"Per-model parameter definitions, when the model accepts parameters. Use these to populate \u0060model.params\u0060.","items":{"$ref":"#/components/schemas/ModelParameterDefinition"}},"variants":{"type":"array","description":"Concrete \u0060id\u0060\u002B\u0060params\u0060 combinations the model accepts.","items":{"$ref":"#/components/schemas/ModelVariant"}}}},"ListModelsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Recommended models. Use \u0060id\u0060 (and optionally \u0060params\u0060) when creating an agent.","items":{"$ref":"#/components/schemas/ModelListItem"}}}},"Repository":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"GitHub repository URL.","example":"https://github.com/your-org/your-repo"}}},"ListRepositoriesResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Repository"}}}},"CreateSubTokenRequest":{"type":"object","description":"Provide exactly one active team member identifier.","properties":{"forUserEmail":{"type":"string","format":"email","minLength":1,"description":"Active team member email. Case-insensitive. Mutually exclusive with \u0060forUserId\u0060.","example":"alice@company.com"},"forUserId":{"type":"integer","minimum":1,"description":"Active team member\u0027s numeric Cursor user ID. Mutually exclusive with \u0060forUserEmail\u0060.","example":42}},"oneOf":[{"required":["forUserEmail"],"not":{"required":["forUserId"]}},{"required":["forUserId"],"not":{"required":["forUserEmail"]}}]},"CreateSubTokenResponse":{"type":"object","required":["accessToken","expiresAt","userId","teamId"],"properties":{"accessToken":{"type":"string","minLength":1,"description":"Short-lived access token scoped to the requested user. Pass this to the worker with --auth-token or write it to the file used by --auth-token-file.","example":"eyJ..."},"expiresAt":{"type":"string","format":"date-time","description":"When the access token expires (1 hour after mint).","example":"2026-04-24T19:00:00.000Z"},"userId":{"type":"integer","description":"Numeric ID of the resolved team member.","example":42},"teamId":{"type":"integer","description":"Numeric ID of the service account\u0027s team.","example":456}}},"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Machine-readable error code. Possible values include\n\u0060unauthorized\u0060, \u0060api_key_not_found\u0060, \u0060plan_required\u0060,\n\u0060role_forbidden\u0060, \u0060feature_unavailable\u0060,\n\u0060integration_not_connected\u0060, \u0060validation_error\u0060,\n\u0060missing_body\u0060, \u0060invalid_model\u0060, \u0060invalid_branch_name\u0060,\n\u0060repository_required\u0060, \u0060repository_access\u0060,\n\u0060pr_resolution_failed\u0060, \u0060artifact_not_found\u0060,\n\u0060service_account_required\u0060, \u0060agent_not_found\u0060,\n\u0060run_not_found\u0060, \u0060agent_busy\u0060, \u0060agent_archived\u0060,\n\u0060agent_id_conflict\u0060, \u0060run_not_cancellable\u0060,\n\u0060rate_limit_exceeded\u0060, \u0060usage_limit_exceeded\u0060,\n\u0060stream_expired\u0060, \u0060stream_unavailable\u0060,\n\u0060invalid_last_event_id\u0060, \u0060client_cancelled\u0060,\n\u0060not_implemented\u0060, \u0060upstream_error\u0060, and\n\u0060internal_error\u0060.\n"},"message":{"type":"string","description":"Human-readable error message."},"helpUrl":{"type":"string","format":"uri","description":"Optional follow-up link. Populated for codes like \u0060integration_not_connected\u0060."},"provider":{"type":"string","minLength":1,"description":"Optional provider identifier. Populated for codes like \u0060integration_not_connected\u0060."}}}}}},"parameters":{"AgentId":{"name":"id","in":"path","required":true,"description":"Unique identifier for the agent.","schema":{"type":"string","example":"bc-00000000-0000-0000-0000-000000000001"}},"RunId":{"name":"runId","in":"path","required":true,"description":"Unique identifier for the run.","schema":{"type":"string","example":"run-00000000-0000-0000-0000-000000000001"}}},"responses":{"BadRequest":{"description":"Validation error or malformed request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Unauthorized":{"description":"Invalid or missing API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Forbidden":{"description":"Authenticated but insufficient permissions, plan required, or feature unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Agent or run not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Conflict":{"description":"Resource state conflict (\u0060agent_busy\u0060, \u0060agent_archived\u0060, \u0060agent_id_conflict\u0060, or \u0060run_not_cancellable\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Gone":{"description":"Stream retention window has elapsed (\u0060stream_expired\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Rate limit exceeded. Response includes \u0060Retry-After\u0060, \u0060X-RateLimit-Limit\u0060, \u0060X-RateLimit-Remaining\u0060, and \u0060X-RateLimit-Reset\u0060 headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"InternalError":{"description":"Internal server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"paths":{"/v1/agents":{"post":{"summary":"Create an agent","description":"Create a Cloud Agent and immediately enqueue its initial run.\nThe response contains both the durable \u0060agent\u0060 and the initial\n\u0060run\u0060.\n","operationId":"createAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created and initial run enqueued.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"get":{"summary":"List agents","description":"List agents for the authenticated user, newest first.","operationId":"listAgents","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of agents to return.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from the previous response.","schema":{"type":"string","minLength":1}},{"name":"prUrl","in":"query","required":false,"description":"Filter agents by GitHub pull request URL.","schema":{"type":"string","format":"uri"}},{"name":"includeArchived","in":"query","required":false,"description":"Whether to include archived agents.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Agents retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAgentsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}":{"get":{"summary":"Get an agent","description":"Retrieve durable metadata for an agent. Execution status lives on runs.","operationId":"getAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"summary":"Delete an agent permanently","description":"Permanently delete an agent. This action is irreversible. Use POST /v1/agents/{id}/archive for reversible removal.","operationId":"deleteAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent deleted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs":{"post":{"summary":"Create a run","description":"Send a follow-up prompt to an existing active agent. The new\nrun uses the agent\u0027s current conversation and workspace state.\nOnly one run can be active per agent at a time.\n","operationId":"createRun","parameters":[{"$ref":"#/components/parameters/AgentId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRunRequest"}}}},"responses":{"201":{"description":"Run created and enqueued.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRunResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"get":{"summary":"List runs","description":"List runs for an agent, newest first.","operationId":"listRuns","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from the previous response.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Runs retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRunsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}":{"get":{"summary":"Get a run","description":"Retrieve status and timestamps for a specific run.","operationId":"getRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"}],"responses":{"200":{"description":"Run retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Run"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}/stream":{"get":{"summary":"Stream a run","description":"Stream Server-Sent Events for one run. Event types are\n\u0060status\u0060, \u0060assistant\u0060, \u0060thinking\u0060, \u0060tool_call\u0060,\n\u0060interaction_update\u0060, \u0060heartbeat\u0060, \u0060result\u0060, \u0060error\u0060, and\n\u0060done\u0060.\n\n- \u0060status\u0060 carries \u0060{ runId, status }\u0060. It has no \u0060id\u0060 line\n  and is replayed at the top of every reconnect.\n- \u0060result\u0060 carries \u0060{ runId, status, text?, durationMs?,\n  git? }\u0060; \u0060text\u0060 is the final assistant reply, \u0060durationMs\u0060\n  the wall-clock duration, and \u0060git\u0060 mirrors \u0060Run.git\u0060.\n- \u0060interaction_update\u0060 carries the richer SDK-shape update\n  used by the TypeScript SDK and is emitted alongside the\n  simplified events that share the same event id. Use this if\n  you want the full SDK stream; otherwise handle the simplified\n  events and ignore it.\n\nReconnect with the \u0060Last-Event-ID\u0060 header to resume after a\ndisconnect; the event ID must belong to the requested run\notherwise the endpoint returns \u0060400 invalid_last_event_id\u0060.\nResponses include the \u0060X-Cursor-Stream-Retention-Seconds\u0060\nheader; after the retention window the endpoint may return\n\u0060410 stream_expired\u0060. \u0060tool_call\u0060 event data uses the\n\u0060RunStreamToolCallData\u0060 schema.\n","operationId":"streamRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"},{"name":"Last-Event-ID","in":"header","required":false,"description":"Resume from a previously received event ID for this run.","schema":{"type":"string"}}],"responses":{"200":{"description":"SSE stream of run events.","headers":{"X-Cursor-Stream-Retention-Seconds":{"description":"Server-side stream retention window in seconds.","schema":{"type":"integer"}}},"content":{"text/event-stream":{"schema":{"type":"string"},"examples":{"toolCall":{"summary":"Tool call events","value":"id: 1713033005000-0\nevent: tool_call\ndata: {\u0022callId\u0022:\u0022call-1\u0022,\u0022name\u0022:\u0022read_file\u0022,\u0022status\u0022:\u0022running\u0022,\u0022args\u0022:{\u0022path\u0022:\u0022README.md\u0022}}\n\nid: 1713033006000-0\nevent: tool_call\ndata: {\u0022callId\u0022:\u0022call-1\u0022,\u0022name\u0022:\u0022read_file\u0022,\u0022status\u0022:\u0022completed\u0022,\u0022args\u0022:{\u0022path\u0022:\u0022README.md\u0022},\u0022result\u0022:{\u0022success\u0022:{\u0022content\u0022:\u0022# Project\u0022,\u0022totalLines\u0022:1,\u0022fileSize\u0022:9,\u0022path\u0022:\u0022README.md\u0022}}}\n"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"410":{"$ref":"#/components/responses/Gone"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}/cancel":{"post":{"summary":"Cancel a run","description":"Cancel the active run for an agent. Cancellation is terminal \u2014\nthe run transitions to \u0060CANCELLED\u0060. Cancelling a run that is\nalready terminal or was never active returns\n\u0060409 run_not_cancellable\u0060. To continue the conversation,\ncreate a new run on the same agent.\n","operationId":"cancelRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"}],"responses":{"200":{"description":"Run cancelled successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/usage":{"get":{"summary":"Get agent usage","description":"Retrieve token usage for an agent, broken down per run.\n\u0060totalUsage\u0060 sums input, output, and cache token counts across\nevery run on the agent, and \u0060runs\u0060 lists the same breakdown for\neach run. Token usage mirrors the \u0060tokenUsage\u0060 shape on the team\nusage events endpoint.\n\nThis endpoint is in early access. When it isn\u0027t enabled for the\naccount it returns \u0060403 feature_unavailable\u0060. An unknown \u0060runId\u0060\nreturns \u0060404 run_not_found\u0060.\n","operationId":"getAgentUsage","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"runId","in":"query","required":false,"description":"Scope usage to a single run. Omit to return usage for every run on the agent.","schema":{"type":"string","example":"run-00000000-0000-0000-0000-000000000001"}}],"responses":{"200":{"description":"Usage retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentUsageResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/archive":{"post":{"summary":"Archive an agent","description":"Archive an agent. Archived agents remain readable but cannot accept new runs until unarchived.","operationId":"archiveAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent archived successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/unarchive":{"post":{"summary":"Unarchive an agent","description":"Unarchive an agent so it can accept new runs again.","operationId":"unarchiveAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent unarchived successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/artifacts":{"get":{"summary":"List artifacts","description":"List artifacts produced by an agent. Each artifact\u0027s \u0060path\u0060 is\nrelative to the workspace\u0027s \u0060artifacts/\u0060 directory. Pass that\n\u0060path\u0060 to GET /v1/agents/{id}/artifacts/download to obtain a\npresigned download URL.\n","operationId":"listArtifacts","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Artifacts retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListArtifactsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/artifacts/download":{"get":{"summary":"Download an artifact","description":"Retrieve a temporary 15-minute presigned S3 URL for an\nartifact. The \u0060path\u0060 query parameter must be a relative path\nunder \u0060artifacts/\u0060 returned by GET /v1/agents/{id}/artifacts.\n","operationId":"downloadArtifact","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"path","in":"query","required":true,"description":"Relative artifact path under \u0060artifacts/\u0060.","schema":{"type":"string","minLength":1,"example":"artifacts/screenshot.png"}}],"responses":{"200":{"description":"Presigned URL retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadArtifactResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/me":{"get":{"summary":"API key info","description":"Retrieve information about the API key being used for authentication.","operationId":"getApiKeyInfo","responses":{"200":{"description":"API key info retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyInfo"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/models":{"get":{"summary":"List models","description":"Returns a recommended set of explicit model IDs you can pass\nto the \u0060model.id\u0060 field on POST /v1/agents. To use the\nconfigured default model, omit the \u0060model\u0060 field from the\nrequest body entirely.\n","operationId":"listModels","responses":{"200":{"description":"Models retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListModelsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/repositories":{"get":{"summary":"List GitHub repositories","description":"List GitHub repositories accessible to the authenticated user\nthrough Cursor\u0027s GitHub App installation. This endpoint has\nvery strict rate limits (1 request per user per minute, 30\nper user per hour) and can take tens of seconds to respond\nfor users with access to many repositories. Cache responses\naggressively and handle this information not being available\ngracefully.\n","operationId":"listRepositories","responses":{"200":{"description":"Repositories retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRepositoriesResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/sub-tokens":{"post":{"summary":"Create A User-Scoped Worker Token","description":"Create a one-hour user-scoped token for a My Machines worker to run as an\nactive team member. Requires an agent-scoped team service account\nAPI key. User-scoped tokens can\u0027t mint other user-scoped tokens.\n","operationId":"createSubToken","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubTokenRequest"},"examples":{"byEmail":{"summary":"Identify the user by email","value":{"forUserEmail":"alice@company.com"}},"byUserId":{"summary":"Identify the user by Cursor user ID","value":{"forUserId":42}}}}}},"responses":{"200":{"description":"User-scoped token created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubTokenResponse"},"example":{"accessToken":"eyJ...","expiresAt":"2026-04-24T19:00:00.000Z","userId":42,"teamId":456}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}}}}