{"openapi":"3.0.3","info":{"title":"Cursor Cloud Agents API","description":"Programmatically create and manage Cursor Cloud Agents that work\nautonomously on your repositories. v1 separates a durable agent\nfrom one or more runs: each prompt submission creates a run on the\nagent. Streaming and cancellation are scoped to the active run.\nEnvironment endpoints manage the saved environments agents run in.\n","version":"1.0.0","contact":{"email":"hi@cursor.com"}},"servers":[{"url":"https://api.cursor.com","description":"Production server"}],"security":[{"basicAuth":[]},{"bearerAuth":[]}],"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic","description":"API key from Cursor Dashboard, supplied as the Basic\nAuthentication username with an empty password.\n"},"bearerAuth":{"type":"http","scheme":"bearer","description":"API key from Cursor Dashboard, supplied via\n\u0060Authorization: Bearer \u003Ckey\u003E\u0060. Equivalent to Basic Auth.\n"}},"schemas":{"ImageDimension":{"type":"object","required":["width","height"],"properties":{"width":{"type":"integer","minimum":1,"description":"Width in pixels"},"height":{"type":"integer","minimum":1,"description":"Height in pixels"}}},"Image":{"type":"object","description":"An image input. Provide exactly one of \u0060data\u0060 or \u0060url\u0060. When\n\u0060data\u0060 is provided, \u0060mimeType\u0060 is required. When \u0060url\u0060 is\nprovided, Cursor fetches the image and \u0060mimeType\u0060 must be\nomitted.\n","properties":{"data":{"type":"string","minLength":1,"description":"Base64 encoded image bytes (max 15 MB). Mutually exclusive with \u0060url\u0060.","example":"iVBORw0KGgoAAAANSUhEUgAA..."},"url":{"type":"string","format":"uri","description":"HTTP or HTTPS URL Cursor fetches. Mutually exclusive with \u0060data\u0060.","example":"https://example.com/screenshot.png"},"mimeType":{"type":"string","minLength":1,"description":"MIME type of the image bytes. Required when \u0060data\u0060 is provided; must be omitted when \u0060url\u0060 is provided. Supported types are \u0060image/png\u0060, \u0060image/jpeg\u0060, \u0060image/gif\u0060, and \u0060image/webp\u0060.","example":"image/png"},"dimension":{"$ref":"#/components/schemas/ImageDimension"}},"oneOf":[{"required":["data","mimeType"],"not":{"required":["url"]}},{"required":["url"],"not":{"anyOf":[{"required":["data"]},{"required":["mimeType"]}]}}]},"ModelRef":{"type":"object","required":["id"],"properties":{"id":{"type":"string","minLength":1,"description":"Explicit model ID returned by GET /v1/models. Omit \u0060model\u0060 from the request to use the configured default.","example":"composer-2"},"params":{"type":"array","description":"Per-model parameters such as reasoning effort or max mode. Use only parameters supported by the selected model.","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"string","minLength":1,"example":"thinking"},"value":{"type":"string","minLength":1,"example":"high"}}}}}},"RepoConfig":{"type":"object","required":["url"],"properties":{"url":{"type":"string","minLength":1,"description":"GitHub repository URL. Required on every repo entry, including when \u0060prUrl\u0060 is provided.","example":"https://github.com/your-org/your-repo"},"startingRef":{"type":"string","minLength":1,"description":"Branch name or commit SHA to use as the starting point. Ignored when \u0060prUrl\u0060 is provided.","example":"main"},"prUrl":{"type":"string","format":"uri","description":"GitHub pull request URL. When provided, the agent works on this PR\u0027s repository and branches; \u0060startingRef\u0060 is ignored. \u0060url\u0060 must still be set on the same entry.","example":"https://github.com/your-org/your-repo/pull/123"}}},"AgentEnv":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["cloud","pool","machine"],"description":"Execution environment type. \u0060cloud\u0060 uses Cursor-hosted VMs; \u0060pool\u0060 and \u0060machine\u0060 route to self-hosted workers.","example":"cloud"},"name":{"type":"string","minLength":1,"description":"Named Cursor-hosted environment, Team Pool, or self-hosted machine name. For \u0060type: pool\u0060, this is the pool name (defaults to \u0060default\u0060 when omitted). Unknown pool names return \u0060400\u0060. Omit \u0060repos\u0060 with \u0060type: pool\u0060 to target a repo-less pool. Name an any-repo pool to send more than one entry in \u0060repos\u0060.","example":"Release workspace"}}},"McpAuth":{"type":"object","additionalProperties":false,"required":["CLIENT_ID"],"properties":{"CLIENT_ID":{"type":"string","minLength":1,"description":"OAuth client ID for the MCP server.","example":"client-id"},"CLIENT_SECRET":{"type":"string","description":"OAuth client secret for the MCP server.","example":"client-secret"},"scopes":{"type":"array","description":"OAuth scopes to request for the MCP server.","items":{"type":"string","minLength":1},"example":["file_content:read"]}}},"StdioMcpServer":{"type":"object","additionalProperties":false,"required":["name","command"],"properties":{"name":{"type":"string","minLength":1,"description":"MCP server name exposed to the agent.","example":"github"},"type":{"type":"string","enum":["stdio"],"description":"Stdio MCP server. Defaults to \u0060stdio\u0060 when \u0060command\u0060 is provided.","example":"stdio"},"command":{"type":"string","minLength":1,"description":"Command to start inside the cloud agent VM.","example":"npx"},"args":{"type":"array","description":"Command arguments.","items":{"type":"string"},"example":["-y","@modelcontextprotocol/server-github"]},"env":{"type":"object","description":"Environment variables passed to the stdio MCP server inside the VM.","additionalProperties":{"type":"string"},"example":{"GITHUB_TOKEN":"ghp_..."}}}},"RemoteMcpServer":{"type":"object","additionalProperties":false,"required":["name","url"],"properties":{"name":{"type":"string","minLength":1,"description":"MCP server name exposed to the agent.","example":"linear"},"type":{"type":"string","enum":["http","sse"],"description":"Remote MCP transport. Defaults to \u0060http\u0060 when \u0060url\u0060 is provided.","example":"http"},"url":{"type":"string","format":"uri","description":"HTTP or HTTPS URL for the remote MCP server. Userinfo in the URL is not allowed.","example":"https://mcp.linear.app/sse"},"headers":{"type":"object","description":"Headers Cursor sends with every request to the remote MCP server.","additionalProperties":{"type":"string"},"example":{"Authorization":"Bearer lin_api_..."}},"auth":{"$ref":"#/components/schemas/McpAuth"}}},"McpServer":{"oneOf":[{"$ref":"#/components/schemas/StdioMcpServer"},{"$ref":"#/components/schemas/RemoteMcpServer"}]},"AgentSummary":{"type":"object","required":["id","status","env","url","createdAt","updatedAt"],"properties":{"id":{"type":"string","description":"Unique agent identifier.","example":"bc-00000000-0000-0000-0000-000000000001"},"name":{"type":"string","description":"Display name. Auto-derived from the prompt when not supplied at create time. Omitted when no name has been set.","example":"Add README with setup instructions"},"status":{"type":"string","enum":["ACTIVE","ARCHIVED"],"description":"Agent lifecycle state. Execution status lives on runs."},"env":{"$ref":"#/components/schemas/AgentEnv"},"url":{"type":"string","format":"uri","description":"URL to view the agent in Cursor Web.","example":"https://cursor.com/agents/bc-00000000-0000-0000-0000-000000000001"},"createdAt":{"type":"string","format":"date-time","description":"When the agent was created."},"updatedAt":{"type":"string","format":"date-time","description":"When the agent was last updated."},"latestRunId":{"type":"string","description":"ID of the most recent run on this agent, if any.","example":"run-00000000-0000-0000-0000-000000000001"}}},"Agent":{"allOf":[{"$ref":"#/components/schemas/AgentSummary"},{"type":"object","properties":{"repos":{"type":"array","description":"Repository configuration. Empty for no-repo agents.","items":{"$ref":"#/components/schemas/RepoConfig"}},"workOnCurrentBranch":{"type":"boolean","description":"When \u0060false\u0060 (the default), Cursor pushes commits to a new auto-generated branch. When \u0060true\u0060, commits land on the existing head branch.","example":false},"autoCreatePR":{"type":"boolean","description":"Whether Cursor opens a pull request when the run completes.","example":true},"skipReviewerRequest":{"type":"boolean","description":"Whether to skip requesting the user as a reviewer when Cursor opens a PR."},"customSubagents":{"type":"array","description":"Custom subagents defined at create time. Omitted when none were provided.","items":{"$ref":"#/components/schemas/CustomSubagent"}}}}]},"RunGitBranch":{"type":"object","required":["repoUrl"],"properties":{"repoUrl":{"type":"string","minLength":1,"description":"Repository URL the agent pushed to. Returned without the scheme (for example, \u0060github.com/your-org/your-repo\u0060).","example":"github.com/your-org/your-repo"},"branch":{"type":"string","minLength":1,"description":"Branch name the agent pushed.","example":"cursor/add-readme-a1b2"},"prUrl":{"type":"string","format":"uri","description":"Pull request URL, when Cursor opened a PR.","example":"https://github.com/your-org/your-repo/pull/123"}}},"RunGit":{"type":"object","description":"The agent\u0027s current pushed branches and pull requests. This is\nper-agent state \u2014 every run on the same agent returns the same\n\u0060git\u0060 snapshot rather than only that run\u0027s contributions. Use\nthe agent\u0027s \u0060latestRunId\u0060 or the SSE stream to attribute work\nto a specific run.\n","required":["branches"],"properties":{"branches":{"type":"array","description":"Branches the agent has pushed. Stacked agents return one entry per branch.","items":{"$ref":"#/components/schemas/RunGitBranch"}}}},"Run":{"type":"object","required":["id","agentId","status","createdAt","updatedAt"],"properties":{"id":{"type":"string","description":"Unique run identifier.","example":"run-00000000-0000-0000-0000-000000000001"},"agentId":{"type":"string","description":"ID of the agent this run belongs to.","example":"bc-00000000-0000-0000-0000-000000000001"},"status":{"type":"string","enum":["CREATING","RUNNING","FINISHED","ERROR","CANCELLED","EXPIRED"],"description":"Current run status."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"durationMs":{"type":"integer","minimum":0,"description":"Wall-clock duration of the run in milliseconds. Populated once the run reaches a terminal status (\u0060FINISHED\u0060, \u0060ERROR\u0060, \u0060CANCELLED\u0060, \u0060EXPIRED\u0060).","example":12357},"result":{"type":"string","minLength":1,"description":"Final assistant reply text. Populated once the run terminates.","example":"Added README.md with installation instructions."},"git":{"allOf":[{"$ref":"#/components/schemas/RunGit"}],"description":"The agent\u0027s pushed branches and PRs. Populated once the agent has pushed at least one branch. Per-agent state, not per-run."}}},"RunStreamToolCallTruncation":{"type":"object","additionalProperties":false,"properties":{"args":{"type":"boolean","description":"Present and true when the tool arguments were too large to include in the stream.","example":true},"result":{"type":"boolean","description":"Present and true when the tool result was too large to include in the stream.","example":true}}},"JsonValue":{"description":"Any JSON value.","nullable":true,"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"type":"object","additionalProperties":true},{"type":"array","items":{}}]},"RunStreamToolCallData":{"type":"object","additionalProperties":false,"required":["callId","name","status"],"properties":{"callId":{"type":"string","minLength":1,"description":"Stable identifier for one tool invocation across updates.","example":"call-1"},"name":{"type":"string","minLength":1,"description":"Public tool name, such as \u0060read_file\u0060, \u0060run_terminal_cmd\u0060, or \u0060mcp\u0060.","example":"read_file"},"status":{"type":"string","enum":["running","completed"],"description":"Tool invocation lifecycle status.","example":"completed"},"args":{"allOf":[{"$ref":"#/components/schemas/JsonValue"}],"description":"Tool-specific JSON arguments, when available.","example":{"path":"README.md"}},"result":{"allOf":[{"$ref":"#/components/schemas/JsonValue"}],"description":"Tool-specific JSON result, when available.","example":{"success":{"content":"# Project","totalLines":1,"fileSize":9,"path":"README.md"}}},"truncated":{"$ref":"#/components/schemas/RunStreamToolCallTruncation"}}},"RunStreamToolCallEvent":{"type":"object","additionalProperties":false,"required":["event","data"],"properties":{"event":{"type":"string","enum":["tool_call"]},"id":{"type":"string","description":"Opaque SSE event id passed back via \u0060Last-Event-ID\u0060 to resume the stream. Do not parse \u2014 the format is implementation-defined.","example":"1713033006000-0"},"data":{"$ref":"#/components/schemas/RunStreamToolCallData"}}},"CustomSubagent":{"type":"object","additionalProperties":false,"required":["name","description","prompt"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"Subagent name. Must be unique within \u0060customSubagents\u0060 and cannot collide with built-ins (for example, \u0060explore\u0060, \u0060shell\u0060, \u0060debug\u0060, \u0060computerUse\u0060, \u0060cursorGuide\u0060).","example":"frontend-reviewer"},"description":{"type":"string","minLength":1,"maxLength":1000,"description":"Short summary used by the main agent to decide when to delegate."},"prompt":{"type":"string","minLength":1,"maxLength":8192,"description":"System prompt the subagent receives when invoked."},"model":{"oneOf":[{"type":"string","enum":["inherit"],"description":"Use the parent agent\u0027s model selection."},{"type":"string","minLength":1,"description":"An explicit model ID.","example":"claude-4.6-sonnet-thinking"},{"$ref":"#/components/schemas/ModelRef"}]}}},"CreateAgentRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"object","required":["text"],"properties":{"text":{"type":"string","minLength":1,"description":"Task instruction for the agent.","example":"Add a README with setup instructions"},"images":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/Image"},"description":"Image inputs. Each entry must provide either \u0060data\u0060 (with required \u0060mimeType\u0060) or \u0060url\u0060. Maximum 5 images, 15 MB each."}}},"model":{"$ref":"#/components/schemas/ModelRef"},"name":{"type":"string","minLength":1,"maxLength":100,"description":"Display name for the agent. Auto-derived from the prompt when omitted.","example":"Add README with setup instructions"},"agentId":{"type":"string","minLength":1,"pattern":"^bc-[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","description":"Optional client-supplied agent identifier in \u0060bc-\u003Cuuid\u003E\u0060 form. Re-POSTing the same \u0060agentId\u0060 returns \u0060409 agent_id_conflict\u0060 instead of creating a duplicate. Cannot be combined with \u0060envVars\u0060; omit \u0060agentId\u0060 so the server mints one when you need session secrets.","example":"bc-00000000-0000-0000-0000-000000000001"},"env":{"$ref":"#/components/schemas/AgentEnv"},"repos":{"type":"array","maxItems":20,"description":"Repository configuration. Mutually exclusive with a named cloud environment. Omit both \u0060repos\u0060 and \u0060env\u0060 (or pass \u0060repos: []\u0060) to start a no-repo agent. On self-hosted targets, only a named any-repo pool takes more than one entry. \u0060machine\u0060, the \u0060default\u0060 pool, and repo-backed pools take one and return \u0060400\u0060 for more.","items":{"$ref":"#/components/schemas/RepoConfig"}},"workOnCurrentBranch":{"type":"boolean","description":"When \u0060false\u0060 (the default), Cursor pushes commits to a new\nauto-generated branch (\u0060cursor/...\u0060) based on\n\u0060repos[0].startingRef\u0060 (or the PR base ref when \u0060prUrl\u0060\nis set). When \u0060true\u0060, Cursor pushes directly to that\nstarting ref \u2014 for a non-PR create, that\u0027s the branch you\npassed in \u0060startingRef\u0060; for a \u0060prUrl\u0060 create, that\u0027s the\nPR\u0027s head branch.\n","default":false},"autoCreatePR":{"type":"boolean","description":"Whether Cursor should open a pull request when the run completes.","default":false},"skipReviewerRequest":{"type":"boolean","description":"Whether to skip requesting the user as a reviewer when Cursor opens a PR. Only applies when \u0060autoCreatePR\u0060 is true.","default":false},"envVars":{"type":"object","maxProperties":50,"description":"Session-scoped environment variables for the cloud agent.\nValues are encrypted at rest, injected into the agent\u0027s\nshell, and deleted with the agent. Names must be non-empty,\n255 bytes or less, and cannot start with \u0060CURSOR_\u0060. Values\nmust be non-empty and 4096 bytes or less. Cannot be\ncombined with a client-supplied \u0060agentId\u0060.\n\nBeta: \u0060envVars\u0060 is rolling out. If it isn\u0027t enabled for\nyour account yet, the field is silently ignored on create\nrather than failing the request \u2014 verify the values are\npresent on a first run before relying on them in\nproduction.\n","additionalProperties":{"type":"string","minLength":1,"maxLength":4096}},"mcpServers":{"type":"array","maxItems":50,"description":"Inline MCP server definitions available to the initial run. Remote servers support \u0060headers\u0060 or OAuth \u0060auth\u0060; stdio servers run inside the cloud agent VM and can receive \u0060env\u0060. Server names must be unique.","items":{"$ref":"#/components/schemas/McpServer"}},"customSubagents":{"type":"array","maxItems":20,"description":"Custom subagents the main agent can delegate to. Names must be unique and not collide with built-ins.","items":{"$ref":"#/components/schemas/CustomSubagent"}},"mode":{"allOf":[{"$ref":"#/components/schemas/AgentMode"}],"default":"agent","description":"Initial conversation mode for the agent\u0027s first run."}}},"CreateRunRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"object","required":["text"],"properties":{"text":{"type":"string","minLength":1,"description":"Follow-up instruction text.","example":"Also add troubleshooting steps"},"images":{"type":"array","maxItems":5,"items":{"$ref":"#/components/schemas/Image"},"description":"Image inputs for the follow-up. Each entry must provide either \u0060data\u0060 (with required \u0060mimeType\u0060) or \u0060url\u0060. Maximum 5 images, 15 MB each."}}},"mcpServers":{"type":"array","maxItems":50,"description":"Inline MCP server definitions for this follow-up run. When provided, these definitions replace any create-time inline MCP servers for this run.","items":{"$ref":"#/components/schemas/McpServer"}},"mode":{"$ref":"#/components/schemas/AgentMode"}}},"AgentMode":{"type":"string","enum":["agent","plan"],"description":"Conversation mode. \u0060plan\u0060 explores and drafts a plan before coding; \u0060agent\u0060 implements changes directly. On follow-up runs, omit to keep the conversation\u0027s current mode; set explicitly to switch modes for that run.\n"},"CreateAgentResponse":{"type":"object","required":["agent","run"],"properties":{"agent":{"$ref":"#/components/schemas/Agent"},"run":{"$ref":"#/components/schemas/Run"}}},"CreateRunResponse":{"type":"object","required":["run"],"properties":{"run":{"$ref":"#/components/schemas/Run"}}},"ListAgentsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Agents, newest first.","items":{"$ref":"#/components/schemas/AgentSummary"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages.","example":"bc-00000000-0000-0000-0000-000000000002"}}},"ListRunsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Runs for this agent, newest first.","items":{"$ref":"#/components/schemas/Run"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages."}}},"IdResponse":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"Identifier of the affected resource."}}},"Artifact":{"type":"object","required":["path","sizeBytes","updatedAt"],"properties":{"path":{"type":"string","minLength":1,"description":"Artifact path relative to the workspace\u0027s \u0060artifacts/\u0060 directory.","example":"artifacts/screenshot.png"},"sizeBytes":{"type":"integer","minimum":0,"description":"File size in bytes.","example":12345},"updatedAt":{"type":"string","format":"date-time","description":"Last modified timestamp."}}},"ListArtifactsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Artifacts produced by the agent. Returns at most 100 artifacts.","items":{"$ref":"#/components/schemas/Artifact"}}}},"DownloadArtifactResponse":{"type":"object","required":["url","expiresAt"],"properties":{"url":{"type":"string","format":"uri","description":"Temporary 15-minute presigned S3 URL for downloading the artifact.","example":"https://cloud-agent-artifacts.s3.us-east-1.amazonaws.com/..."},"expiresAt":{"type":"string","format":"date-time","description":"When the presigned URL expires."}}},"UsageTokenUsage":{"type":"object","required":["inputTokens","outputTokens","cacheWriteTokens","cacheReadTokens","totalTokens"],"properties":{"inputTokens":{"type":"integer","minimum":0,"description":"Input tokens consumed.","example":6320},"outputTokens":{"type":"integer","minimum":0,"description":"Output tokens generated.","example":1450},"cacheWriteTokens":{"type":"integer","minimum":0,"description":"Tokens written to cache.","example":7100},"cacheReadTokens":{"type":"integer","minimum":0,"description":"Tokens read from cache.","example":21300},"totalTokens":{"type":"integer","minimum":0,"description":"Sum of the four token counts above.","example":36170}}},"RunUsage":{"type":"object","required":["id","usage"],"properties":{"id":{"type":"string","minLength":1,"description":"Run identifier.","example":"run-00000000-0000-0000-0000-000000000001"},"usageUuid":{"type":"string","minLength":1,"description":"Internal usage identifier for the run. Omitted when the run has no recorded usage yet.","example":"00000000-0000-0000-0000-000000000001"},"usage":{"allOf":[{"$ref":"#/components/schemas/UsageTokenUsage"}],"description":"Token usage for this run. Runs without recorded usage report zeros across all fields."}}},"AgentUsageResponse":{"type":"object","required":["totalUsage","runs"],"properties":{"totalUsage":{"allOf":[{"$ref":"#/components/schemas/UsageTokenUsage"}],"description":"Token usage summed across the returned runs."},"runs":{"type":"array","description":"Per-run usage, one entry per run (or a single entry when \u0060runId\u0060 is set).","items":{"$ref":"#/components/schemas/RunUsage"}}}},"EnvironmentRepo":{"type":"object","additionalProperties":false,"required":["url"],"properties":{"url":{"type":"string","minLength":1,"description":"Repository URL.","example":"https://github.com/your-org/your-repo"}}},"EnvironmentRepoFile":{"type":"object","additionalProperties":false,"description":"The file in a repository that an environment reads its configuration from.","required":["url","path"],"properties":{"url":{"type":"string","minLength":1,"description":"URL of the repository that holds the configuration file.","example":"https://github.com/your-org/your-repo"},"path":{"type":"string","minLength":1,"description":"Path of the configuration file in the repository.","example":".cursor/environment.json"}}},"Environment":{"type":"object","required":["id","owner","repos","createdAt","updatedAt"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique environment identifier.","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"},"name":{"type":"string","minLength":1,"description":"Display name. Omitted when the environment has no name.","example":"Web app"},"owner":{"type":"string","enum":["personal","team"],"description":"\u0060personal\u0060 for an environment that belongs to one user, or \u0060team\u0060 for an environment shared with the team."},"repos":{"type":"array","description":"Repositories in the environment.","items":{"$ref":"#/components/schemas/EnvironmentRepo"}},"createdAt":{"type":"string","format":"date-time","description":"When the environment was created."},"updatedAt":{"type":"string","format":"date-time","description":"When the environment was last updated."}}},"CreateEnvironmentResponse":{"allOf":[{"$ref":"#/components/schemas/Environment"},{"type":"object","required":["name"]}]},"GetEnvironmentResponse":{"allOf":[{"$ref":"#/components/schemas/Environment"},{"type":"object","properties":{"repoFile":{"$ref":"#/components/schemas/EnvironmentRepoFile"},"environmentJson":{"type":"string","description":"The environment\u0027s latest saved configuration, its \u0060environment.json\u0060, as a JSON-encoded string.","example":"{\u0022install\u0022: \u0022pnpm install\u0022, \u0022start\u0022: \u0022sudo service docker start\u0022}"},"versionId":{"type":"string","minLength":1,"description":"ID of the latest saved environment version. Omitted when no version has been saved.","example":"c9f0f895-fb98-4b91-8f3e-2a1b0c9d8e7f"}}}]},"ListEnvironmentsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Environments, most recently updated first. List items omit \u0060environmentJson\u0060 and \u0060versionId\u0060.","items":{"allOf":[{"$ref":"#/components/schemas/Environment"},{"type":"object","properties":{"repoFile":{"$ref":"#/components/schemas/EnvironmentRepoFile"}}}]}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. A page can hold fewer items than \u0060limit\u0060, so keep paging until it\u0027s absent. Omitted (not \u0060null\u0060) when there are no more pages."}}},"CreateEnvironmentRequest":{"type":"object","additionalProperties":false,"required":["owner","name","repos","environmentJson"],"properties":{"owner":{"type":"string","enum":["personal","team"],"description":"\u0060personal\u0060 creates an environment for the API key\u0027s user, and \u0060team\u0060 creates one for the team."},"name":{"type":"string","minLength":1,"maxLength":255,"description":"Display name. It must differ from the names of the owner\u0027s other environments; a name the owner already uses returns \u0060409 environment_name_conflict\u0060.","example":"Web app"},"repos":{"type":"array","maxItems":100,"description":"Repositories for the environment, or an empty array for an environment without repositories. Cursor must be able to reach each one through your source control integration; otherwise the request returns \u0060400 repository_access\u0060.","items":{"$ref":"#/components/schemas/EnvironmentRepo"}},"environmentJson":{"type":"string","minLength":1,"description":"The environment\u0027s \u0060environment.json\u0060, as a JSON-encoded string, using the same schema as a \u0060.cursor/environment.json\u0060 file. An invalid configuration returns \u0060400 validation_error\u0060.","example":"{\u0022install\u0022: \u0022pnpm install\u0022, \u0022start\u0022: \u0022sudo service docker start\u0022}"}}},"UpdateEnvironmentRequest":{"type":"object","additionalProperties":false,"minProperties":1,"description":"Send \u0060name\u0060, \u0060environmentJson\u0060, or both. A request with both applies them together, so either both change or neither does.","properties":{"name":{"type":"string","minLength":1,"maxLength":255,"description":"New display name. It must differ from the names of the owner\u0027s other environments; a name the owner already uses returns \u0060409 environment_name_conflict\u0060.","example":"Web app (staging)"},"environmentJson":{"type":"string","description":"Replacement \u0060environment.json\u0060, as a JSON-encoded string, using the same schema as a \u0060.cursor/environment.json\u0060 file. It replaces the whole configuration. An invalid configuration returns \u0060400 validation_error\u0060.","example":"{\u0022install\u0022: \u0022pnpm install --frozen-lockfile\u0022, \u0022start\u0022: \u0022sudo service docker start\u0022}"}}},"EnvironmentBuildId":{"type":"string","pattern":"^[bB][lL][dD]-[0-9]{8}-[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","description":"Unique build identifier, in the form \u0060bld-YYYYMMDD-\u003Cuuid\u003E\u0060.","example":"bld-20260930-3c59dc04-8a1d-4b6e-9f2a-7e5d1c0b9a8f"},"EnvironmentBuildFailure":{"type":"object","additionalProperties":false,"description":"Why a failed build failed.","required":["type"],"properties":{"type":{"type":"string","enum":["INSTALL_FAILED","TERMINAL_FAILURE"],"description":"\u0060INSTALL_FAILED\u0060 when the \u0060install\u0060 command failed, or \u0060TERMINAL_FAILURE\u0060 for other failures."},"code":{"type":"string","minLength":1,"description":"Machine-readable cause of the failure, when there is one.","example":"environment_json_invalid"}}},"EnvironmentBuild":{"type":"object","additionalProperties":false,"required":["id","environmentId","status","trigger","draft","createdAt","updatedAt"],"properties":{"id":{"$ref":"#/components/schemas/EnvironmentBuildId"},"environmentId":{"type":"string","format":"uuid","description":"ID of the environment the build belongs to.","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"},"status":{"type":"string","enum":["IN_PROGRESS","SUCCEEDED","FAILED","CANCELLED","SKIPPED"],"description":"Build status. A skipped build found nothing to rebuild."},"trigger":{"type":"string","enum":["RECURRING","CONFIG_CHANGE","MANUAL"],"description":"What started the build. \u0060RECURRING\u0060 for a scheduled build, \u0060CONFIG_CHANGE\u0060 after a configuration or secrets change, or \u0060MANUAL\u0060 for one started on request."},"draft":{"type":"boolean","description":"\u0060true\u0060 for a draft build. Agents don\u0027t start from a draft build until it\u0027s activated."},"failure":{"$ref":"#/components/schemas/EnvironmentBuildFailure"},"createdAt":{"type":"string","format":"date-time","description":"When the build was created."},"updatedAt":{"type":"string","format":"date-time","description":"When the build was last updated."},"completedAt":{"type":"string","format":"date-time","description":"When the build finished. Omitted while it\u0027s in progress."}}},"ListEnvironmentBuildsResponse":{"type":"object","additionalProperties":false,"required":["items"],"properties":{"items":{"type":"array","maxItems":10,"description":"Up to 10 builds for this environment, newest first.","items":{"$ref":"#/components/schemas/EnvironmentBuild"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages."}}},"EnvironmentActiveBuild":{"description":"What an agent you start on this environment boots from, one of its builds or Cursor\u0027s default image.","oneOf":[{"$ref":"#/components/schemas/EnvironmentActiveBuildFromBuild"},{"$ref":"#/components/schemas/EnvironmentActiveBuildFromUniversalImage"}],"discriminator":{"propertyName":"type","mapping":{"build":"#/components/schemas/EnvironmentActiveBuildFromBuild","universal_image":"#/components/schemas/EnvironmentActiveBuildFromUniversalImage"}}},"EnvironmentActiveBuildFromBuild":{"type":"object","additionalProperties":false,"description":"The agent starts from one of the environment\u0027s builds.","required":["type","buildId"],"properties":{"type":{"type":"string","enum":["build"]},"buildId":{"$ref":"#/components/schemas/EnvironmentBuildId"}}},"EnvironmentActiveBuildFromUniversalImage":{"type":"object","additionalProperties":false,"description":"The agent starts on Cursor\u0027s default image.","required":["type"],"properties":{"type":{"type":"string","enum":["universal_image"]}}},"EnvironmentHistoryEvent":{"type":"object","additionalProperties":false,"required":["id","createdAt","kind","title","description","current"],"properties":{"id":{"type":"string","minLength":1,"description":"Unique event identifier.","example":"3b7e1f2a-9c4d-4e8b-a1f6-5d2c8e9b0a17"},"createdAt":{"type":"string","format":"date-time","description":"When the change was made."},"kind":{"type":"string","enum":["created","updated","deleted","backfilled","changed"]},"title":{"type":"string","description":"The event\u0027s summary, as the History tab shows it.","example":"Team environment updated"},"description":{"type":"string","description":"The event\u0027s details, as the History tab shows them.","example":"Install script changed."},"source":{"type":"string","enum":["dashboard","setup_flow","restore","api","agent_run","repo_file","request_override"],"description":"Where the change came from."},"current":{"type":"boolean","description":"\u0060true\u0060 for the event that saved the environment\u0027s current configuration."},"environmentJson":{"type":"string","description":"The \u0060environment.json\u0060 the event saved, as a JSON-encoded string.","example":"{\u0022install\u0022: \u0022pnpm install\u0022, \u0022start\u0022: \u0022sudo service docker start\u0022}"}}},"ListEnvironmentHistoryResponse":{"type":"object","additionalProperties":false,"required":["items"],"properties":{"items":{"type":"array","description":"History events, newest first.","items":{"$ref":"#/components/schemas/EnvironmentHistoryEvent"}},"nextCursor":{"type":"string","minLength":1,"description":"Cursor for fetching the next page of results. Omitted (not \u0060null\u0060) when there are no more pages."}}},"ApiKeyInfo":{"type":"object","required":["apiKeyName","createdAt"],"properties":{"apiKeyName":{"type":"string","description":"Display name of the API key.","example":"Production API Key"},"createdAt":{"type":"string","format":"date-time","description":"When the API key was created."},"userId":{"type":"integer","minimum":0,"description":"Numeric Cursor user ID of the API key\u0027s owner. Omitted for service-account / team API keys, which aren\u0027t tied to a specific user.","example":42},"userEmail":{"type":"string","format":"email","description":"Email of the API key\u0027s owner. Omitted for service-account / team API keys.","example":"developer@example.com"},"userFirstName":{"type":"string","minLength":1,"description":"First name of the API key\u0027s owner, when populated.","example":"Alex"},"userLastName":{"type":"string","minLength":1,"description":"Last name of the API key\u0027s owner, when populated.","example":"Rivera"}}},"ModelParameterValueDefinition":{"type":"object","required":["value"],"properties":{"value":{"type":"string","minLength":1,"description":"Permitted value for the parameter.","example":"true"},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for the value.","example":"Fast"}}},"ModelParameterDefinition":{"type":"object","required":["id","values"],"properties":{"id":{"type":"string","minLength":1,"description":"Parameter identifier. Pass as \u0060model.params[].id\u0060.","example":"fast"},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for the parameter.","example":"Fast"},"values":{"type":"array","minItems":1,"description":"Permitted values for this parameter.","items":{"$ref":"#/components/schemas/ModelParameterValueDefinition"}}}},"ModelVariant":{"type":"object","required":["params","displayName"],"properties":{"params":{"type":"array","description":"Concrete parameter values that, combined with the parent model \u0060id\u0060, form a valid model selection. May be empty.","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"string","minLength":1},"value":{"type":"string","minLength":1}}}},"displayName":{"type":"string","minLength":1,"description":"Human-readable label for this variant."},"description":{"type":"string","minLength":1},"isDefault":{"type":"boolean","description":"True for the variant Cursor selects when the user picks this model without explicit \u0060params\u0060."}}},"ModelListItem":{"type":"object","required":["id","displayName"],"properties":{"id":{"type":"string","minLength":1,"description":"Pass this value as \u0060model.id\u0060 when creating an agent.","example":"composer-2"},"displayName":{"type":"string","minLength":1,"description":"Human-readable model name.","example":"Composer 2"},"description":{"type":"string","minLength":1},"aliases":{"type":"array","description":"Alternate IDs that resolve to the same model.","items":{"type":"string","minLength":1},"example":["composer-latest","composer"]},"parameters":{"type":"array","description":"Per-model parameter definitions, when the model accepts parameters. Use these to populate \u0060model.params\u0060.","items":{"$ref":"#/components/schemas/ModelParameterDefinition"}},"variants":{"type":"array","description":"Concrete \u0060id\u0060\u002B\u0060params\u0060 combinations the model accepts.","items":{"$ref":"#/components/schemas/ModelVariant"}}}},"ListModelsResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","description":"Recommended models. Use \u0060id\u0060 (and optionally \u0060params\u0060) when creating an agent.","items":{"$ref":"#/components/schemas/ModelListItem"}}}},"SecretVersion":{"type":"object","description":"One version of a Cloud Agents secret. A name can have several\nversions in one environment or team, each for repositories the\nothers don\u0027t cover. Responses never include a secret\u0027s value.\n","required":["name","type","repos"],"properties":{"id":{"type":"string","pattern":"^secv_[A-Za-z0-9_-]{22}$","description":"Opaque version ID. A version keeps its \u0060id\u0060 through changes to\nits value, type, or repositories. Always present in lists; a\n\u0060201\u0060 from a \u0060PUT\u0060 leaves it out when the new version isn\u0027t\nreadable yet.\n","example":"secv_3qKx9mT2bV7nR1cW5yZ8aQ"},"name":{"type":"string","description":"Environment variable name agents see.","example":"NPM_TOKEN"},"type":{"type":"string","enum":["runtime_secret","environment_variable","build_secret"],"description":"\u0060runtime_secret\u0060 for a Runtime Secret, \u0060environment_variable\u0060\nfor an Environment Variable, or \u0060build_secret\u0060 for a Build\nSecret, which only the Docker build gets.\n","example":"runtime_secret"},"repos":{"type":"array","items":{"type":"string"},"description":"The only repositories that get this version, lowercase and\nsorted, with repository URLs reduced to \u0060host/owner/repo\u0060.\nEmpty when every repository gets it.\n","example":["github.com/acme/api"]},"createdAt":{"type":"string","format":"date-time","description":"When the version was created. Always present in lists; a\n\u0060201\u0060 from a \u0060PUT\u0060 leaves it out when the new version isn\u0027t\nreadable yet.\n","example":"2026-10-01T09:15:42.000Z"}}},"Repository":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"GitHub repository URL.","example":"https://github.com/your-org/your-repo"}}},"ListSecretsResponse":{"type":"object","required":["items","nextCursor"],"properties":{"items":{"type":"array","description":"Secret versions, sorted by name. A name with versions for\ndifferent repositories appears once per version.\n","items":{"allOf":[{"$ref":"#/components/schemas/SecretVersion"},{"type":"object","required":["id","createdAt"]}]}},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for the next page. Always \u0060null\u0060 for now, because the\nlist isn\u0027t paginated yet.\n","example":null}}},"SecretInventoryOwner":{"type":"object","description":"Who holds a secret version: \u0060team\u0060 for the team the API key works\nin, \u0060user\u0060 for a user\u0027s personal secrets, or \u0060environment\u0060 for an\nenvironment\u0027s secrets.\n","required":["type"],"properties":{"type":{"type":"string","enum":["team","user","environment"],"example":"environment"},"environmentId":{"type":"string","format":"uuid","description":"The environment, for an \u0060environment\u0060 owner.","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"},"user":{"type":"object","description":"The user who owns the secrets, for a \u0060user\u0060 owner and a personal\nenvironment. Absent for the team and its environments.\n","required":["email"],"properties":{"email":{"type":"string","nullable":true,"description":"The user\u0027s email, or \u0060null\u0060 when the user has none on file.","example":"ada@acme.com"}}}}},"InventorySecretVersion":{"type":"object","description":"A secret version with the owner that holds it. Responses never\ninclude a secret\u0027s value.\n","required":["id","name","type","repos","createdAt","owner"],"properties":{"id":{"type":"string","pattern":"^secv_[A-Za-z0-9_-]{22}$","description":"The version ID its owner\u0027s own list shows.","example":"secv_3qKx9mT2bV7nR1cW5yZ8aQ"},"name":{"type":"string","description":"Environment variable name agents see.","example":"NPM_TOKEN"},"type":{"type":"string","enum":["runtime_secret","environment_variable","build_secret"],"example":"runtime_secret"},"repos":{"type":"array","items":{"type":"string"},"description":"The only repositories that get this version, or empty when every\nrepository gets it. Every version has it, including other\nmembers\u0027 versions in a team admin\u0027s list.\n","example":["github.com/acme/api"]},"createdAt":{"type":"string","format":"date-time","description":"When the version was created.","example":"2026-10-01T09:15:42.000Z"},"owner":{"$ref":"#/components/schemas/SecretInventoryOwner"}}},"ListSecretInventoryResponse":{"type":"object","required":["items","nextCursor"],"properties":{"items":{"type":"array","description":"Secret versions with their owners, not sorted by name. Other\nmembers\u0027 versions come after the rest.\n","items":{"$ref":"#/components/schemas/InventorySecretVersion"}},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for the next page, or \u0060null\u0060 on the last page. A page can\nhold fewer than \u0060limit\u0060 items, or none, and still have one.\n","example":null}}},"ListRepositoriesResponse":{"type":"object","required":["items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Repository"}}}},"SetSecretRequest":{"type":"object","additionalProperties":false,"required":["value"],"properties":{"value":{"type":"string","minLength":1,"description":"The secret\u0027s value, 1 to 4,096 bytes of UTF-8 text. No\nresponse or error message includes it.\n","example":"npm_example_token"},"type":{"type":"string","enum":["runtime_secret","environment_variable"],"description":"A new version defaults to \u0060runtime_secret\u0060. A change without\n\u0060type\u0060 keeps the version\u0027s type. Build Secrets can\u0027t be set\nthrough the API yet.\n","example":"runtime_secret"},"repos":{"type":"array","maxItems":100,"items":{"type":"string","minLength":1},"description":"The only repositories that get this version, such as\n\u0060acme/api\u0060, \u0060https://github.com/acme/api.git\u0060, or\n\u0060gitlab.com/group/subgroup/project\u0060. An empty array, or\nomitting \u0060repos\u0060 on a new version, gives it every repository.\nA change without \u0060repos\u0060 keeps the version\u0027s repositories.\n","example":["github.com/acme/api"]}}},"SecretVersionSummary":{"type":"object","required":["id","repos"],"properties":{"id":{"type":"string","description":"The version\u0027s \u0060id\u0060. Pass it as \u0060?id=\u0060 to pick this version.","example":"secv_3qKx9mT2bV7nR1cW5yZ8aQ"},"repos":{"type":"array","items":{"type":"string"},"description":"The only repositories that get this version.","example":["github.com/acme/api"]}}},"SecretNameAmbiguousError":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message","versions"],"properties":{"code":{"type":"string","enum":["secret_name_ambiguous"]},"message":{"type":"string","example":"NPM_TOKEN has 2 versions, each for different repos. Pass the id of one as ?id= to pick it."},"versions":{"type":"array","description":"Every version of the name, in list order.","items":{"$ref":"#/components/schemas/SecretVersionSummary"}}}}}},"CreateSubTokenRequest":{"type":"object","description":"Provide exactly one active team member identifier.","properties":{"forUserEmail":{"type":"string","format":"email","minLength":1,"description":"Active team member email. Case-insensitive. Mutually exclusive with \u0060forUserId\u0060.","example":"alice@company.com"},"forUserId":{"type":"integer","minimum":1,"description":"Active team member\u0027s numeric Cursor user ID. Mutually exclusive with \u0060forUserEmail\u0060.","example":42}},"oneOf":[{"required":["forUserEmail"],"not":{"required":["forUserId"]}},{"required":["forUserId"],"not":{"required":["forUserEmail"]}}]},"DeleteSecretResponse":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the deleted secret.","example":"NPM_TOKEN"}}},"CreateSubTokenResponse":{"type":"object","required":["accessToken","expiresAt","userId","teamId"],"properties":{"accessToken":{"type":"string","minLength":1,"description":"Short-lived access token scoped to the requested user. Pass this to the worker with --auth-token or write it to the file used by --auth-token-file.","example":"eyJ..."},"expiresAt":{"type":"string","format":"date-time","description":"When the access token expires (1 hour after mint).","example":"2026-04-24T19:00:00.000Z"},"userId":{"type":"integer","description":"Numeric ID of the resolved team member.","example":42},"teamId":{"type":"integer","description":"Numeric ID of the service account\u0027s team.","example":456}}},"AuthenticationError":{"type":"object","description":"Body of a \u0060401\u0060 response when the API key fails authentication.","required":["code","message"],"properties":{"code":{"type":"string","description":"Error category, such as \u0060error\u0060.","example":"error"},"message":{"type":"string","description":"Human-readable error message.","example":"Invalid User API Key"}}},"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Machine-readable error code. Possible values include\n\u0060unauthorized\u0060, \u0060api_key_not_found\u0060, \u0060plan_required\u0060,\n\u0060role_forbidden\u0060, \u0060feature_unavailable\u0060,\n\u0060integration_not_connected\u0060, \u0060validation_error\u0060,\n\u0060missing_body\u0060, \u0060invalid_model\u0060, \u0060invalid_branch_name\u0060,\n\u0060repository_required\u0060, \u0060repository_access\u0060,\n\u0060pr_resolution_failed\u0060, \u0060artifact_not_found\u0060,\n\u0060service_account_required\u0060, \u0060agent_not_found\u0060,\n\u0060run_not_found\u0060, \u0060environment_not_found\u0060, \u0060build_not_found\u0060,\n\u0060team_admin_required\u0060, \u0060environment_name_conflict\u0060,\n\u0060duplicate_json_key\u0060, \u0060agent_busy\u0060, \u0060agent_archived\u0060,\n\u0060agent_id_conflict\u0060, \u0060run_not_cancellable\u0060,\n\u0060rate_limit_exceeded\u0060, \u0060usage_limit_exceeded\u0060,\n\u0060stream_expired\u0060, \u0060stream_unavailable\u0060,\n\u0060invalid_last_event_id\u0060, \u0060client_cancelled\u0060,\n\u0060not_implemented\u0060, \u0060upstream_error\u0060, and\n\u0060internal_error\u0060.\n"},"message":{"type":"string","description":"Human-readable error message."},"helpUrl":{"type":"string","format":"uri","description":"Optional follow-up link. Populated for codes like \u0060integration_not_connected\u0060."},"provider":{"type":"string","minLength":1,"description":"Optional provider identifier. Populated for codes like \u0060integration_not_connected\u0060."},"environmentId":{"type":"string","format":"uuid","description":"ID of the existing environment with the requested name, when an \u0060environment_name_conflict\u0060 error returns it.","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"}}}}}},"parameters":{"AgentId":{"name":"id","in":"path","required":true,"description":"Unique identifier for the agent.","schema":{"type":"string","example":"bc-00000000-0000-0000-0000-000000000001"}},"RunId":{"name":"runId","in":"path","required":true,"description":"Unique identifier for the run.","schema":{"type":"string","example":"run-00000000-0000-0000-0000-000000000001"}},"EnvironmentId":{"name":"id","in":"path","required":true,"description":"Unique identifier for the environment.","schema":{"type":"string","format":"uuid","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"}},"EnvironmentBuildId":{"name":"buildId","in":"path","required":true,"description":"Unique identifier for the build.","schema":{"$ref":"#/components/schemas/EnvironmentBuildId"}}},"responses":{"BadRequest":{"description":"Validation error or malformed request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Unauthorized":{"description":"Invalid, missing, or unsupported API key. When the API key fails authentication, the body has a top-level \u0060code\u0060 and \u0060message\u0060 instead of an \u0060error\u0060 object.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/AuthenticationError"},{"$ref":"#/components/schemas/Error"}]}}}},"Forbidden":{"description":"Authenticated but insufficient permissions, plan required, or feature unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Conflict":{"description":"Resource state conflict (\u0060agent_busy\u0060, \u0060agent_archived\u0060, \u0060agent_id_conflict\u0060, \u0060run_not_cancellable\u0060, or \u0060environment_name_conflict\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"Gone":{"description":"Stream retention window has elapsed (\u0060stream_expired\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Rate limit exceeded. Response includes \u0060Retry-After\u0060, \u0060X-RateLimit-Limit\u0060, \u0060X-RateLimit-Remaining\u0060, and \u0060X-RateLimit-Reset\u0060 headers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"InternalError":{"description":"Internal server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"paths":{"/v1/agents":{"post":{"summary":"Create an agent","description":"Create a Cloud Agent and immediately enqueue its initial run.\nThe response contains both the durable \u0060agent\u0060 and the initial\n\u0060run\u0060.\n","operationId":"createAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created and initial run enqueued.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"get":{"summary":"List agents","description":"List agents for the authenticated user, newest first.","operationId":"listAgents","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of agents to return.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from the previous response.","schema":{"type":"string","minLength":1}},{"name":"prUrl","in":"query","required":false,"description":"Filter agents by GitHub pull request URL.","schema":{"type":"string","format":"uri"}},{"name":"includeArchived","in":"query","required":false,"description":"Whether to include archived agents.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Agents retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAgentsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}":{"get":{"summary":"Get an agent","description":"Retrieve durable metadata for an agent. Execution status lives on runs.","operationId":"getAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"summary":"Delete an agent permanently","description":"Permanently delete an agent. This action is irreversible. Use POST /v1/agents/{id}/archive for reversible removal.","operationId":"deleteAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent deleted successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs":{"post":{"summary":"Create a run","description":"Send a follow-up prompt to an existing active agent. The new\nrun uses the agent\u0027s current conversation and workspace state.\nOnly one run can be active per agent at a time.\n","operationId":"createRun","parameters":[{"$ref":"#/components/parameters/AgentId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRunRequest"}}}},"responses":{"201":{"description":"Run created and enqueued.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRunResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"get":{"summary":"List runs","description":"List runs for an agent, newest first.","operationId":"listRuns","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from the previous response.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Runs retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRunsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}":{"get":{"summary":"Get a run","description":"Retrieve status and timestamps for a specific run.","operationId":"getRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"}],"responses":{"200":{"description":"Run retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Run"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}/stream":{"get":{"summary":"Stream a run","description":"Stream Server-Sent Events for one run. Event types are\n\u0060status\u0060, \u0060assistant\u0060, \u0060thinking\u0060, \u0060tool_call\u0060,\n\u0060interaction_update\u0060, \u0060heartbeat\u0060, \u0060result\u0060, \u0060error\u0060, and\n\u0060done\u0060.\n\n- \u0060status\u0060 carries \u0060{ runId, status }\u0060. It has no \u0060id\u0060 line\n  and is replayed at the top of every reconnect.\n- \u0060result\u0060 carries \u0060{ runId, status, text?, durationMs?,\n  git? }\u0060; \u0060text\u0060 is the final assistant reply, \u0060durationMs\u0060\n  the wall-clock duration, and \u0060git\u0060 mirrors \u0060Run.git\u0060.\n- \u0060interaction_update\u0060 carries the richer SDK-shape update\n  used by the TypeScript SDK and is emitted alongside the\n  simplified events that share the same event id. Use this if\n  you want the full SDK stream; otherwise handle the simplified\n  events and ignore it.\n\nReconnect with the \u0060Last-Event-ID\u0060 header to resume after a\ndisconnect; the event ID must belong to the requested run\notherwise the endpoint returns \u0060400 invalid_last_event_id\u0060.\nResponses include the \u0060X-Cursor-Stream-Retention-Seconds\u0060\nheader; after the retention window the endpoint may return\n\u0060410 stream_expired\u0060. \u0060tool_call\u0060 event data uses the\n\u0060RunStreamToolCallData\u0060 schema.\n","operationId":"streamRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"},{"name":"Last-Event-ID","in":"header","required":false,"description":"Resume from a previously received event ID for this run.","schema":{"type":"string"}}],"responses":{"200":{"description":"SSE stream of run events.","headers":{"X-Cursor-Stream-Retention-Seconds":{"description":"Server-side stream retention window in seconds.","schema":{"type":"integer"}}},"content":{"text/event-stream":{"schema":{"type":"string"},"examples":{"toolCall":{"summary":"Tool call events","value":"id: 1713033005000-0\nevent: tool_call\ndata: {\u0022callId\u0022:\u0022call-1\u0022,\u0022name\u0022:\u0022read_file\u0022,\u0022status\u0022:\u0022running\u0022,\u0022args\u0022:{\u0022path\u0022:\u0022README.md\u0022}}\n\nid: 1713033006000-0\nevent: tool_call\ndata: {\u0022callId\u0022:\u0022call-1\u0022,\u0022name\u0022:\u0022read_file\u0022,\u0022status\u0022:\u0022completed\u0022,\u0022args\u0022:{\u0022path\u0022:\u0022README.md\u0022},\u0022result\u0022:{\u0022success\u0022:{\u0022content\u0022:\u0022# Project\u0022,\u0022totalLines\u0022:1,\u0022fileSize\u0022:9,\u0022path\u0022:\u0022README.md\u0022}}}\n"}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"410":{"$ref":"#/components/responses/Gone"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/runs/{runId}/cancel":{"post":{"summary":"Cancel a run","description":"Cancel the active run for an agent. Cancellation is terminal \u2014\nthe run transitions to \u0060CANCELLED\u0060. Cancelling a run that is\nalready terminal or was never active returns\n\u0060409 run_not_cancellable\u0060. To continue the conversation,\ncreate a new run on the same agent.\n","operationId":"cancelRun","parameters":[{"$ref":"#/components/parameters/AgentId"},{"$ref":"#/components/parameters/RunId"}],"responses":{"200":{"description":"Run cancelled successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/usage":{"get":{"summary":"Get agent usage","description":"Retrieve token usage for an agent, broken down per run.\n\u0060totalUsage\u0060 sums input, output, and cache token counts across\nevery run on the agent, and \u0060runs\u0060 lists the same breakdown for\neach run. Token usage mirrors the \u0060tokenUsage\u0060 shape on the team\nusage events endpoint.\n\nThis endpoint is in early access. When it isn\u0027t enabled for the\naccount it returns \u0060403 feature_unavailable\u0060. An unknown \u0060runId\u0060\nreturns \u0060404 run_not_found\u0060.\n","operationId":"getAgentUsage","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"runId","in":"query","required":false,"description":"Scope usage to a single run. Omit to return usage for every run on the agent.","schema":{"type":"string","example":"run-00000000-0000-0000-0000-000000000001"}}],"responses":{"200":{"description":"Usage retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentUsageResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/archive":{"post":{"summary":"Archive an agent","description":"Archive an agent. Archived agents remain readable but cannot accept new runs until unarchived.","operationId":"archiveAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent archived successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/unarchive":{"post":{"summary":"Unarchive an agent","description":"Unarchive an agent so it can accept new runs again.","operationId":"unarchiveAgent","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Agent unarchived successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/artifacts":{"get":{"summary":"List artifacts","description":"List artifacts produced by an agent. Each artifact\u0027s \u0060path\u0060 is\nrelative to the workspace\u0027s \u0060artifacts/\u0060 directory. Pass that\n\u0060path\u0060 to GET /v1/agents/{id}/artifacts/download to obtain a\npresigned download URL.\n","operationId":"listArtifacts","parameters":[{"$ref":"#/components/parameters/AgentId"}],"responses":{"200":{"description":"Artifacts retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListArtifactsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/agents/{id}/artifacts/download":{"get":{"summary":"Download an artifact","description":"Retrieve a temporary 15-minute presigned S3 URL for an\nartifact. The \u0060path\u0060 query parameter must be a relative path\nunder \u0060artifacts/\u0060 returned by GET /v1/agents/{id}/artifacts.\n","operationId":"downloadArtifact","parameters":[{"$ref":"#/components/parameters/AgentId"},{"name":"path","in":"query","required":true,"description":"Relative artifact path under \u0060artifacts/\u0060.","schema":{"type":"string","minLength":1,"example":"artifacts/screenshot.png"}}],"responses":{"200":{"description":"Presigned URL retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadArtifactResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments":{"get":{"summary":"List environments","description":"List the saved environments the API key can access, most recently\nupdated first: the user\u0027s personal environments and the team\u0027s\nenvironments. Team admins don\u0027t see members\u0027 personal environments\nhere.\n\nTeam admins and service account API keys see every team\nenvironment. Other callers see a team environment only when they\ncan access all of its repositories. When those checks run out of\ntime, a response can leave out team environments it hasn\u0027t\nverified yet, or stop before the end of the list; they show up in\nlater requests. A service account API key limited to specific\nrepositories, and user-scoped tokens minted with it, only list\nenvironments that have repositories, all within that limit. Drafts\nand deleted environments aren\u0027t included.\n\nAn environment that changes during a walk moves to the front, so a\nlater page can leave it out and repeat another. List items omit\n\u0060environmentJson\u0060 and \u0060versionId\u0060; call GET /v1/environments/{id}\nto load an environment\u0027s configuration.\n","operationId":"listEnvironments","parameters":[{"name":"limit","in":"query","required":false,"description":"Number of environments to return.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from the previous response.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Environments retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEnvironmentsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"post":{"summary":"Create an environment","description":"Create a saved environment. The \u0060201\u0060 response is the new environment.","operationId":"createEnvironment","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEnvironmentRequest"}}}},"responses":{"201":{"description":"Environment created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEnvironmentResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"description":"Cursor couldn\u0027t reach your source control provider to check a repository (\u0060upstream_error\u0060). Retry after the number of seconds in \u0060Retry-After\u0060.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/environments/{id}":{"get":{"summary":"Get an environment","description":"Retrieve a saved environment and its latest saved configuration. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060.","operationId":"getEnvironment","parameters":[{"$ref":"#/components/parameters/EnvironmentId"}],"responses":{"200":{"description":"Environment retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetEnvironmentResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"patch":{"summary":"Update an environment","description":"Rename an environment, replace its configuration, or both. A request with both fields applies them together, so either both change or neither does. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060.","operationId":"updateEnvironment","parameters":[{"$ref":"#/components/parameters/EnvironmentId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEnvironmentRequest"}}}},"responses":{"204":{"description":"Environment updated. The response has no body."},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"summary":"Delete an environment","description":"Permanently delete a saved environment. This action is irreversible.","operationId":"deleteEnvironment","parameters":[{"$ref":"#/components/parameters/EnvironmentId"}],"responses":{"200":{"description":"Environment deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/history":{"get":{"summary":"List environment history","description":"List the changes to an environment, newest first, as its History tab in the dashboard shows them. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060.","operationId":"listEnvironmentHistory","parameters":[{"$ref":"#/components/parameters/EnvironmentId"},{"name":"limit","in":"query","required":false,"description":"Number of events to return.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from \u0060nextCursor\u0060 on the previous response.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"History retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEnvironmentHistoryResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/builds":{"get":{"summary":"List environment builds","description":"List an environment\u0027s builds, newest first, up to 10 per page. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060.","operationId":"listEnvironmentBuilds","parameters":[{"$ref":"#/components/parameters/EnvironmentId"},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor from \u0060nextCursor\u0060 on the previous response.","schema":{"type":"string","minLength":1,"maxLength":512}}],"responses":{"200":{"description":"Builds retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEnvironmentBuildsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/builds/active":{"get":{"summary":"Get the active build","description":"Find out what an agent you start on this environment boots from, one of its builds or Cursor\u0027s default image. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060.","operationId":"getActiveEnvironmentBuild","parameters":[{"$ref":"#/components/parameters/EnvironmentId"}],"responses":{"200":{"description":"Active build retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentActiveBuild"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/builds/{buildId}":{"get":{"summary":"Get an environment build","description":"Retrieve one of an environment\u0027s builds. An environment that doesn\u0027t exist or isn\u0027t visible to the API key returns \u0060404 environment_not_found\u0060, and a build ID that isn\u0027t one of the environment\u0027s builds returns \u0060404 build_not_found\u0060.","operationId":"getEnvironmentBuild","parameters":[{"$ref":"#/components/parameters/EnvironmentId"},{"$ref":"#/components/parameters/EnvironmentBuildId"}],"responses":{"200":{"description":"Build retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentBuild"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/me":{"get":{"summary":"API key info","description":"Retrieve information about the API key being used for authentication.","operationId":"getApiKeyInfo","responses":{"200":{"description":"API key info retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyInfo"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/secrets":{"get":{"summary":"List environment secrets","description":"List an environment\u0027s Cloud Agents secrets, one item per version,\nsorted by name. No item includes a value. The list isn\u0027t paginated\nyet, so \u0060nextCursor\u0060 is always \u0060null\u0060.\n\nA service account API key can list its team\u0027s environments, and\na user API key or user-scoped token its user\u0027s personal\nenvironments too. An API key limited to certain repositories can\nlist only environments whose repositories all sit inside its\nlimit. Every other environment returns \u0060404 environment_not_found\u0060.\n\nSee https://cursor.com/docs/cloud-agent/api/endpoints#list-environment-secrets.\n","operationId":"listEnvironmentSecrets","parameters":[{"name":"id","in":"path","required":true,"description":"Environment ID.","schema":{"type":"string","format":"uuid","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"}}],"responses":{"200":{"description":"The environment\u0027s secret versions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSecretsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for\nyour account (\u0060feature_unavailable\u0060), or a \u0060grok_\u0060 API key\n(\u0060key_not_supported\u0060).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The environment doesn\u0027t exist or your API key can\u0027t list its secrets, including an environment outside its repository limit (\u0060environment_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/models":{"get":{"summary":"List models","description":"Returns a recommended set of explicit model IDs you can pass\nto the \u0060model.id\u0060 field on POST /v1/agents. To use the\nconfigured default model, omit the \u0060model\u0060 field from the\nrequest body entirely.\n","operationId":"listModels","responses":{"200":{"description":"Models retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListModelsResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/environments/{id}/secrets/{name}":{"parameters":[{"name":"id","in":"path","required":true,"description":"Environment ID.","schema":{"type":"string","format":"uuid","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"}},{"name":"name","in":"path","required":true,"description":"Secret name, such as \u0060NPM_TOKEN\u0060.","schema":{"type":"string","example":"NPM_TOKEN"}}],"put":{"summary":"Set an environment secret","description":"Create an environment secret, rotate its value, or change its type or repositories. With \u0060?id=\u0060, the request changes that version. Without \u0060?id=\u0060, a name with no version gets one (\u0060201\u0060), a name with one version has it changed in place (\u0060200\u0060), and a name with several versions returns \u0060409 secret_name_ambiguous\u0060. A \u0060PUT\u0060 never adds a second version to a name that has one, and an omitted \u0060type\u0060 or \u0060repos\u0060 keeps the current one. Build Secrets can\u0027t be set or changed through the API yet. See https://cursor.com/docs/cloud-agent/api/endpoints#set-an-environment-secret.\n","operationId":"setEnvironmentSecret","parameters":[{"name":"id","in":"query","required":false,"description":"The \u0060id\u0060 of the version to change.","schema":{"type":"string","example":"secv_3qKx9mT2bV7nR1cW5yZ8aQ"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetSecretRequest"}}}},"responses":{"200":{"description":"The version was changed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretVersion"}}}},"201":{"description":"The version was created. \u0060id\u0060 and \u0060createdAt\u0060 are left out when the new version isn\u0027t readable yet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretVersion"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for your account (\u0060feature_unavailable\u0060), a \u0060grok_\u0060 API key (\u0060key_not_supported\u0060), or a team that lets only admins change secrets (\u0060team_admin_required\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The environment doesn\u0027t exist or your API key can\u0027t change its secrets, including an environment outside its repository limit (\u0060environment_not_found\u0060), or \u0060?id=\u0060 isn\u0027t a version of this name here (\u0060secret_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"The name has several versions and no \u0060?id=\u0060 (\u0060secret_name_ambiguous\u0060, with \u0060versions\u0060), differs from an existing name only in case (\u0060secret_name_conflict\u0060), overlaps another version\u0027s repositories (\u0060secret_scope_conflict\u0060), the environment has 1,000 secrets (\u0060secret_limit_reached\u0060), or another request changed the secret at the same moment (\u0060secret_changed\u0060).","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SecretNameAmbiguousError"},{"$ref":"#/components/schemas/Error"}]}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"summary":"Delete an environment secret","description":"Delete one version of an environment secret. This action is irreversible. With \u0060?id=\u0060, the request deletes that version. Without \u0060?id=\u0060, a name with one version has it deleted, a name with no version returns \u0060404 secret_not_found\u0060, and a name with several versions returns \u0060409 secret_name_ambiguous\u0060 and deletes nothing. \u0060{name}\u0060 must match a listed name exactly, letter case included. Every type can be deleted, Build Secrets included. See https://cursor.com/docs/cloud-agent/api/endpoints#delete-an-environment-secret.\n","operationId":"deleteEnvironmentSecret","parameters":[{"name":"id","in":"query","required":false,"description":"The \u0060id\u0060 of the version to delete.","schema":{"type":"string","example":"secv_3qKx9mT2bV7nR1cW5yZ8aQ"}}],"responses":{"200":{"description":"The version was deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSecretResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for your account (\u0060feature_unavailable\u0060), a \u0060grok_\u0060 API key (\u0060key_not_supported\u0060), or a team that lets only admins change secrets (\u0060team_admin_required\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The environment doesn\u0027t exist or your API key can\u0027t change its secrets, including an environment outside its repository limit (\u0060environment_not_found\u0060), or the name or \u0060?id=\u0060 isn\u0027t a version here (\u0060secret_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"The name has several versions and no \u0060?id=\u0060 (\u0060secret_name_ambiguous\u0060, with \u0060versions\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretNameAmbiguousError"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/repositories":{"get":{"summary":"List GitHub repositories","description":"List GitHub repositories accessible to the authenticated user\nthrough Cursor\u0027s GitHub App installation. This endpoint has\nvery strict rate limits (1 request per user per minute, 30\nper user per hour) and can take tens of seconds to respond\nfor users with access to many repositories. Cache responses\naggressively and handle this information not being available\ngracefully.\n","operationId":"listRepositories","responses":{"200":{"description":"Repositories retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRepositoriesResponse"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/team/secrets/{name}":{"parameters":[{"name":"name","in":"path","required":true,"description":"Secret name, such as \u0060NPM_TOKEN\u0060.","schema":{"type":"string","example":"NPM_TOKEN"}}],"put":{"summary":"Set a team secret","description":"Create a secret for the team the API key works in, rotate its value, or change its type or repositories. With \u0060?id=\u0060, the request changes that version. Without \u0060?id=\u0060, a name with no version gets one (\u0060201\u0060), a name with one version has it changed in place (\u0060200\u0060), and a name with several versions returns \u0060409 secret_name_ambiguous\u0060. A \u0060PUT\u0060 never adds a second version to a name that has one, and an omitted \u0060type\u0060 or \u0060repos\u0060 keeps the current one. Build Secrets can\u0027t be set or changed through the API yet. See https://cursor.com/docs/cloud-agent/api/endpoints#set-a-team-secret.\n","operationId":"setTeamSecret","parameters":[{"name":"id","in":"query","required":false,"description":"The \u0060id\u0060 of the version to change, from the team\u0027s secrets list.","schema":{"type":"string","example":"secv_Ub4rJ7nD2kX9qM5wL1sE8Q"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetSecretRequest"}}}},"responses":{"200":{"description":"The version was changed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretVersion"}}}},"201":{"description":"The version was created. \u0060id\u0060 and \u0060createdAt\u0060 are left out when the new version isn\u0027t readable yet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretVersion"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for your account (\u0060feature_unavailable\u0060), a \u0060grok_\u0060 API key (\u0060key_not_supported\u0060), an API key limited to certain repositories (\u0060repository_access\u0060), a team that lets only admins change secrets (\u0060team_admin_required\u0060), or an API key that isn\u0027t working in a team or whose user isn\u0027t a team member (\u0060team_membership_required\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"\u0060?id=\u0060 isn\u0027t a version of this name in the team (\u0060secret_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"The name has several versions and no \u0060?id=\u0060 (\u0060secret_name_ambiguous\u0060, with \u0060versions\u0060), differs from an existing name only in case (\u0060secret_name_conflict\u0060), overlaps another version\u0027s repositories (\u0060secret_scope_conflict\u0060), the team has 1,000 secrets (\u0060secret_limit_reached\u0060), or another request changed the secret at the same moment (\u0060secret_changed\u0060).","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SecretNameAmbiguousError"},{"$ref":"#/components/schemas/Error"}]}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}},"delete":{"summary":"Delete a team secret","description":"Delete one version of a secret from the team the API key works in. This action is irreversible. With \u0060?id=\u0060, the request deletes that version. Without \u0060?id=\u0060, a name with one version has it deleted, a name with no version returns \u0060404 secret_not_found\u0060, and a name with several versions returns \u0060409 secret_name_ambiguous\u0060 and deletes nothing. \u0060{name}\u0060 must match a listed name exactly, letter case included. Every type can be deleted, Build Secrets included. See https://cursor.com/docs/cloud-agent/api/endpoints#delete-a-team-secret.\n","operationId":"deleteTeamSecret","parameters":[{"name":"id","in":"query","required":false,"description":"The \u0060id\u0060 of the version to delete, from the team\u0027s secrets list.","schema":{"type":"string","example":"secv_Ub4rJ7nD2kX9qM5wL1sE8Q"}}],"responses":{"200":{"description":"The version was deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSecretResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for your account (\u0060feature_unavailable\u0060), a \u0060grok_\u0060 API key (\u0060key_not_supported\u0060), an API key limited to certain repositories (\u0060repository_access\u0060), a team that lets only admins change secrets (\u0060team_admin_required\u0060), or an API key that isn\u0027t working in a team or whose user isn\u0027t a team member (\u0060team_membership_required\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"The name or \u0060?id=\u0060 isn\u0027t a version in the team (\u0060secret_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"The name has several versions and no \u0060?id=\u0060 (\u0060secret_name_ambiguous\u0060, with \u0060versions\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretNameAmbiguousError"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/sub-tokens":{"post":{"summary":"Create A User-Scoped Worker Token","description":"Create a one-hour user-scoped token for a My Machines worker to run as an\nactive team member. Requires an agent-scoped team service account\nAPI key. User-scoped tokens can\u0027t mint other user-scoped tokens.\n","operationId":"createSubToken","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubTokenRequest"},"examples":{"byEmail":{"summary":"Identify the user by email","value":{"forUserEmail":"alice@company.com"}},"byUserId":{"summary":"Identify the user by Cursor user ID","value":{"forUserId":42}}}}}},"responses":{"200":{"description":"User-scoped token created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubTokenResponse"},"example":{"accessToken":"eyJ...","expiresAt":"2026-04-24T19:00:00.000Z","userId":42,"teamId":456}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/team/secrets":{"get":{"summary":"List team secrets","description":"List the Cloud Agents secrets of the team the API key works in, one\nitem per version, sorted by name. No item includes a value. The\nlist isn\u0027t paginated yet, so \u0060nextCursor\u0060 is always \u0060null\u0060.\n\nAny team member can list, as can the team\u0027s service account API\nkeys. An API key limited to certain repositories gets\n\u0060403 repository_access\u0060, because team secrets reach every\nrepository.\n\nSee https://cursor.com/docs/cloud-agent/api/endpoints#list-team-secrets.\n","operationId":"listTeamSecrets","responses":{"200":{"description":"The team\u0027s secret versions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSecretsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for\nyour account (\u0060feature_unavailable\u0060), a \u0060grok_\u0060 API key\n(\u0060key_not_supported\u0060), an API key limited to certain\nrepositories (\u0060repository_access\u0060), or an API key that isn\u0027t\nworking in a team or whose user isn\u0027t a team member\n(\u0060team_membership_required\u0060).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/v1/secrets":{"get":{"summary":"List secrets","description":"List every Cloud Agents secret the API key can list, one item per\nversion, with the owner that holds it. No item includes a value.\n\nWithout \u0060scope\u0060 or \u0060environmentId\u0060, the list includes the team\u0027s\nsecrets and the user\u0027s personal secrets for an API key with no\nrepository limit, and the secrets of the environments the key can\nlist. A team admin using their own user API key without \u0060repo\u0060 also\ngets the other members\u0027 personal secrets and their personal\nenvironments\u0027 secrets, with their \u0060repos\u0060.\n\nKeep paging until \u0060nextCursor\u0060 is \u0060null\u0060, and send the same filters\nwith each \u0060cursor\u0060.\n\nSee https://cursor.com/docs/cloud-agent/api/endpoints#list-secrets.\n","operationId":"listSecrets","parameters":[{"name":"scope","in":"query","required":false,"description":"\u0060team\u0060 lists only the team\u0027s secrets, \u0060user\u0060 only the user\u0027s\npersonal secrets, and \u0060environment\u0060 only environment secrets.\n\u0060members\u0060 lists the user\u0027s personal secrets and, for an explicit\nteam admin using their own user API key or session, every other\ncurrent member\u0027s personal secrets after them, but none of their\npersonal environments\u0027 secrets. For everyone else it returns the\nsame response or refusal as \u0060user\u0060.\n","schema":{"type":"string","enum":["team","user","members","environment"]}},{"name":"environmentId","in":"query","required":false,"description":"List only this environment\u0027s secrets. Combining it with\n\u0060scope=team\u0060, \u0060scope=user\u0060, or \u0060scope=members\u0060 returns\n\u0060400 validation_error\u0060.\n","schema":{"type":"string","format":"uuid","example":"8f14e45f-ceea-4e6b-9c3a-1d2e3f4a5b6c"}},{"name":"name","in":"query","required":false,"description":"Only versions with this name, ignoring case.","schema":{"type":"string","minLength":1,"example":"NPM_TOKEN"}},{"name":"repo","in":"query","required":false,"description":"Only the versions an agent on this repository gets: versions for\nthat repository and versions for every repository. Combining it\nwith \u0060scope=members\u0060 returns \u0060400 validation_error\u0060.\n","schema":{"type":"string","example":"github.com/acme/api"}},{"name":"limit","in":"query","required":false,"description":"Maximum items per page.","schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},{"name":"cursor","in":"query","required":false,"description":"\u0060nextCursor\u0060 from the previous page.","schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"A page of secret versions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListSecretInventoryResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Plan or role not allowed, the environments API isn\u0027t enabled for\nyour account (\u0060feature_unavailable\u0060), or a \u0060grok_\u0060 API key\n(\u0060key_not_supported\u0060). With \u0060scope=team\u0060, an API key limited to\ncertain repositories (\u0060repository_access\u0060) or one that isn\u0027t\nworking in a team or whose user isn\u0027t a team member\n(\u0060team_membership_required\u0060). With \u0060scope=user\u0060 or\n\u0060scope=members\u0060, an API key limited to certain repositories\n(\u0060repository_access\u0060) or one that doesn\u0027t act for a user\n(\u0060user_required\u0060).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"\u0060environmentId\u0060 names an environment that doesn\u0027t exist or that your API key can\u0027t list (\u0060environment_not_found\u0060).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"}}}}}}